<div id="style02">
    <div class="bgstyle01_hd"></div>
    <div class="bgstyle01_mid">
        <h2 class="mycart_h2">下单成功！</h2>
        <ul class="style_20">
            <li>您的订单号码：$tradeOrder.id</li>
            <li>您提交的固定电话/手机：$tradeOrder.telphone/$tradeOrder.mobile</li>
            <li class="red">
                注意事项：<br/>
                1.请记住您的订单号码与提交的固定电话/手机号码；<br/>
                2.请在邮政储蓄银行的汇款单附言中填写：订单号码与提交的固定电话/手机号码；<br/>
                3.我们将根据您的订单号码与提交的固定电话/手机号码进行配货，这个非常重要，请不要出错！因您的疏忽引起的配货出错，爱可将不负任何责任！
            </li>
        </ul>
        <h2 class="mycart_h2">爱可幼品-邮政储蓄银行资料</h2>
        <ul class="style_20">
            <li>帐号：100209373550016666</li>
            <li>收转单位：绍兴市爱可幼品服饰有限公司</li>
            <li>
                汇款单样本
                <img src="#imageServer('exhk/youzhen.jpg')" alt="邮政储蓄汇款单样本"/>
            </li>
            <li>
                <a href="#cowApp('member/orderList')">
                    <img src="#imageServer('exhk/tomyorder.jpg')" alt="点击这里，查看我的订单"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="bgstyle01_ft"></div>
</div>
