{% extends 'base.html' %} 
{% load filter %}
{% block body %}
<h1>账户信息</h1>
<div id="content-main">
    <div>
    <fieldset class="module aligned">
    <div class="form-row">
        <div><label>现金:</label>{{ account.cash }}元</div>
    </div>
    <div class="form-row">
        <div><label>银行存款:</label>{{ account.bank }}元</div>
    </div>
    <div class="form-row">
        <div><label>总账户:</label>{{ account.cash|math_add:account.bank }}元</div>
    </div>
    </fieldset>
    </div>
    
    <p>银行账户信息 &nbsp;&nbsp;&nbsp;<a href="/fee/bc/add/">添加银行账户</a></p>
    <div>
    <fieldset class="module aligned">
    <div class="form-row">
    <table cellspacing="0"> 
        <thead><tr>
            <th>卡号</th>
            <th>开户银行</th>
            <th>金额</th>
        </tr></thead>
        <tbody>
            {% for b in account.banks %}
            <tr class="{{ forloop.counter|row }}">
                <td>{{ b.card }}</td>
                <td>{{ b.title }}</td>
                <td>{{ b.amount }}</td>
            </tr>
            {% endfor %} 
        </tbody> 
    </table>
    </div>
    </fieldset>
    </div>
</div>
{% endblock %}