{% extends 'base.html' %}
{% load filter tag %}
{% block body %}
{% get_account account %}
<h1>账户情况</h1> 
<div id="content-main">
    <div id="changelist" class="module">
    <table cellspacing="0"> 
        <thead><tr>
            <th>总额：{{ account.cash|math_add:account.bank }}</th>
            <th>现金：{{ account.cash }}</th>
            <th>存款：{{ account.bank }}</th>
        </tr></thead>
    </table>
    </div>
    
    {% if request.GET.mid and not member %}
        <div id="content-main"><ul class="errorlist"><li>业主不存在！</li></ul></div>
    {% else %}
    <h1>增加 成本信息</h1>
    {% if error %}
    <div>
        <ul class="errorlist"><li>{{ error }}</li></ul>
    </div>
    {% endif %}
    <div>
        <fieldset class="module aligned ">
        <form enctype="multipart/form-data" action="" method="post" id="cost_form">
            <table>
                {% if member %} 
                <tr><th><label for="id_member">业主:</label></th><td>{{ member.room_no }}</td></tr>
                {% endif %}
                {{ form.as_table }}
            </table>
            <input type="submit" value="添加成本信息">
        </form>
        </fieldset>
    </div>
    {% endif %}
</div>
{% endblock %}
