
#set($comments = $hotCommentList)
<div class="exhk_navleft_02_top"></div>
	<div class="exhk_navleft_02_mid">
		<h1 class="ct_mod_title02">热门评论</h1>
		<ul class="ct_mod01_commentary">
			#foreach($comment in $comments)
			<li>
				<span id="spanComment$comment.id">
					<p>
					$!comment.body
                    </p>
                </span>
    				
				<span>作者：<em>#if($comment.name)$comment.name#else 匿名 #end</em><a href="#cowApp('product/productDetail?id=')$comment.getProductId()" class="a_style01">[详细内容]</a></span>
			</li>
			#end
		</ul>
	</div>	
	<div class="exhk_navleft_02_fot"></div>
