<div id="divStayTopRight" style="position: absolute; top:50px; right:5px;">
        <table cellspacing="0" cellpadding="0" width="109" border="0">
            <tbody>
                <tr>
                    <td colspan="3"><img alt="" height="34" src="#imageServer('exhk/qq_top.gif')" width="109" border="0" /></td>
                </tr>
                <tr bgcolor="white">

                    <td width="6" background="#imageServer('exhk/qq_life.gif')"></td>
                    <td valign="top" width="96">
                        <table cellspacing="0" cellpadding="0" width="90" align="center" border="0">
                            <tbody>
                                <tr>
                                    <td height="30">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>

                                                    <td>
                                                        <img alt=""height="13" src="#imageServer('exhk/qq_ico1.gif')" width="16"><span style="font-size: 9pt">爱可幼品</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <table cellpadding="2" width="100%" border="0">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" width="15" height="23">
                                                        <img alt=""height="16" src="#imageServer('exhk/qq_n01.gif')" width="16" border="0">
                                                    </td>
                                                    <td valign="bottom">

                                                        <span class="font_style" onclick="chat(1574);"><a href="#" class="a_style20">客服1</a></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="2" width="100%" border="0">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" width="15" height="23">

                                                        <img alt=""height="16" src="#imageServer('exhk/qq_n01.gif')" width="16" border="0">
                                                    </td>
                                                    <td valign="bottom">
                                                        <span class="font_style" onclick="chat(1575);"><a href="#" class="a_style20">客服2</a></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" height="23">

                                                        <img alt=""height="16" src="#imageServer('exhk/qq_n01.gif')" width="16" border="0">
                                                    </td>
                                                    <td valign="bottom">
                                                        <span class="font_style" onclick="chat(1576);"><a href="#" class="a_style20">客服3</a></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" height="23">

                                                        <img alt=""height="16" src="#imageServer('exhk/qq_n01.gif')" width="16" border="0">
                                                    </td>
                                                    <td valign="bottom">
                                                        <span class="font_style" onclick="chat(1577);"><a href="#" class="a_style20">客服4</a></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" height="23">

                                                        <img alt=""height="16" src="#imageServer('exhk/qq_n01.gif')" width="16" border="0">
                                                    </td>
                                                    <td valign="bottom">
                                                        <span class="font_style">网站联盟</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" height="23">

                                                        <img alt=""height="16" src="#imageServer('exhk/qq_n01.gif')" width="16" border="0">
                                                    </td>
                                                    <td valign="bottom">
                                                        <span class="font_style">在线留言</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td width="7" align="left" background="#imageServer('exhk/qq_right.gif')">
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><img alt=""height="30" src="#imageServer('exhk/qq_bottom1.gif')" width="109" /></td>
                </tr>
                <tr>
                    <td colspan="3"><a href="#cowApp('index')" class="a_style20"><img alt="" height="33" src="#imageServer('exhk/qq_logo.gif')" width="109" border="0"/></a></td>
                </tr>

            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        lastScrollY = 0;
        floadID = "divStayTopRight";

        function StayThere(){  
            var diffY;  
            if (document.documentElement && document.documentElement.scrollTop)  
                diffY = document.documentElement.scrollTop;  
            else if (document.body)  
                diffY = document.body.scrollTop  
            else{   
            }
 
            percent=.1*(diffY-lastScrollY);  
            if(percent>0)percent=Math.ceil(percent);  
            else percent=Math.floor(percent);  
            document.getElementById(floadID).style.top = parseInt(document.getElementById(floadID).style.top)+percent+"px";  
            lastScrollY=lastScrollY+percent; 
        } 
        
        function chat(vid) {
            window.open("http://rol.liveuc.net/rol/dbcall?cmdid=2&userID="+vid+"&isGroup=1&guestName=&guid=&webRef=&rolRef="+encodeURIComponent(window.location),"userID","Width=526px,height=434px,left=0px,top=0px,location=0,statusbar=0,menubar=0,directories=no,scrollbars=no,resizable=no,help=no,toolbar=no");
        }
    
        window.setInterval("StayThere()",20);  
    </script>

