#set($product = $detailVO.getProduct())
#set($colors = $detailVO.getProductColors())
#if(!$colors.isEmpty())#set($firstColor = $colors.get(0))#end
#set($washings = $detailVO.getWashings())
#set($memberSession = $session.getAttribute("__MEMBER__SESSION__"))




#set($paginator = $commentList.getPaginator())
#set($comments = $commentList)
#set($prePageUrl = "#cowApp('product/commentPageByJquery')?productId=$product.getId()&page=$paginator.getPrePage()")
#set($nextPageUrl = "#cowApp('product/commentPageByJquery')?productId=$product.getId()&page=$paginator.getNextPage()")
#set($lastPageUrl = "#cowApp('product/commentPageByJquery')?productId=$product.getId()&page=$paginator.getItemsTotal()")


<style type="text/css">
<!--
.STYLE1 {color: #990000}
-->
</style>
<div id="pro_img_show">
    <div id="image_show">
        <img id="image" class="jqzoom" src="" alt="" />
    </div>
    <p>
        <a id="bigImage" href="#" target="_blank" class="a_style01">点击查看大图</a>
    </p>
    <div id="small_show">
        <div class="small_show_arrow_l">
            <img src="#imageServer('exhk/gleft.gif')" alt="" onclick="roll(-1);"/>
        </div>
        <div class="small_show_list">
            <ul id="images"></ul>
        </div>
        <div class="small_show_arrow_r">
            <img  src="#imageServer('exhk/gright.gif')" alt="" onclick="roll(1);"/>
        </div>
    </div>
</div>
<div id="pro_info">
    <div>
        <h1>$product.getName()<a href="#" class="a_style01"></a></h1>
        <h2>
            爱可价：<span>￥$product.getMyPrice()</span>
            市场价：<em>￥$product.getMarketPrice()</em>
        </h2>
        <h2>商品货号：<span>EXHK$product.getId()</span>
        </h2>
    </div>
    <dl class="pro_color">
        <dt id="current_color">可选颜色：<span>$!firstColor.getColorName()</span></dt>
        #foreach($color in $colors)
        <dd onclick="chooseProductColor('$color.getId()','$color.getColorName()', '$color.getImgGroupId()')"><img src="#colorImageServer("$color.getImgName()")" alt="" id="color_current"/></dd>
        #end
    </dl>
    <dl class="pro_size">
        <dt>可选尺寸：<span id="current_size">未选择</span>
        </dt>
        #foreach($size in $product.getSizeDescriptions())
			<dd id="size_${velocityCount}" onclick="chooseProductSize('$size', '$size')">$size</dd>
		#end
		
        <dt class="pro_size_how">
            <a href="#" class="a_style13">怎么选择尺寸？</a>
        </dt>
    </dl>
    <div class="checkin_info">
        <form>
            <dl>
                <dt>我要买</dt>
                <dd id="checkin_info_mun">数量：<input id="num" type="text" value="1" maxlength="5" onchange="priceChange('$product.getMyPrice()');"/></dd>
                <dd id="checkin_info_color">颜色：<span>$firstColor.getColorName()</span></dd>
                <dd id="checkin_info_size" name="sizeShow">尺寸：<span>未选择</span></dd>
                <dd id="checkin_info_price">总价：<span>￥0</span></dd>
            </dl>
            <div>
                <button type="button" id="but_shopping" onclick="cart('#cowApp('order/doAddCartOrder')');"></button>
                <button type="button" id="shopping_cart" onclick="cart('#cowApp('order/doAddCart')');"></button>
            </div>
        </form>
        <form id="orderForm" action="" method="post">
            <input id="productId" type="hidden" name="productId" value="$product.getId()"/>
            <input id="productName" type="hidden" name="productName" value="$product.getName()"/>
            <input id="productPrice" type="hidden" name="productPrice" value="$!product.getMyPrice()" />
            <input id="productColor" type="hidden" name="productColor" value="$!{firstColor.getColorName()}"/>
            <input id="productSize" type="hidden" name="productSize" value=""/>
            <input id="productAmount" type="hidden" name="productAmount" value=""/>
        </form>
    </div>
</div>
#parse("templates/product/widget/sizeInfo.vm")
<div class="pro_attribute">
    <h1>商品属性</h1>
    <div>
        <table>
            #foreach($attr in $product.getAttributes())
            <tr>
                <td>$attr.getKey()：</td>
                <td class="pro_attribute_01">$attr.getValue()</td>
            </tr>
            #end
        </table>
    </div>
</div>
<div class="other_info">
    <h1>产品描述</h1>
    $product.getDescription()
</div>
<div class="other_info">
    <h1>洗涤说明</h1>
    <p>
        <img  src="#imageServer("exhk/wash.jpg")" alt=""/>
    </p>
</div>


<form  method="post" name="commentForm">
    <div class="other_info">
    	<h1>
    		顾客评论
    	</h1>
		
		
		<span id="pageAjaxSpan">
        	<ul class="ct_mod01_commentary">
    			#foreach($comment in $comments)
        		<li>
    				<div id="commentBodyDiv${comment.id}">
    					$subStringUtil.getSubStr(150,$comment.body)	
                    </div>
        			<div align="right">
        				<span>作者：<em>#if($comment.name)$comment.name#else 匿名 #end</em><a href="javascript:" class="a_style01" onclick="getDetailByJquery(${comment.id})">[详细内容]</a>
        				</span>&nbsp;&nbsp;&nbsp;&nbsp;
        				<a href="javascript:" onclick="putComment(${comment.id})" class="a_style01">[引用]</a>
        			</div>
        		</li>
        		#end
        	</ul>	
    		
    		#if(!$comments.isEmpty())
            <div class="ct_mod04_page" style="font-size:14px;">
                    翻页<cite>$paginator.getPage()</cite>of<cite>$paginator.getPages()</cite>
                #if($paginator.getPage() > 1)<a href="javascript:" onclick="getPageByJquery($paginator.getPrePage(),'$product.getId()')" class="a_style09"><em>上一页</em></a>#end
                #if($paginator.getPage() < $paginator.getPages())<a href="javascript:" onclick="getPageByJquery($paginator.getNextPage(),'$product.getId()')" class="a_style09"><em>下一页</em></a>#end
            </div>
    		#end
		</span>

    	<div class="other_info">
    		<h1>
    			发表评论
    		</h1>
    
    	</div>
    	<p>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		<strong>星级评价：</strong></span>
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<input type="radio" name="rank" id="rank" value="1" />
    		&nbsp;
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<input type="radio" name="rank" id="rank" value="2" />
			
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<input type="radio" name="rank" id="rank" value="3" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<input type="radio" name="rank" id="rank" value="4" />
    		&nbsp;
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
    		<img src="#imageServer('exhk/star.jpg')" width="16" height="16"
    			align="bottom" />
			<input type="radio" name="rank" id="rank" value="5" checked="checked"  />
    		（<span class="STYLE1">星级越高代表您对该产品的满意度越高</span>）
    	</p>
    	<br />
    	<p>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		<strong>评论内容：</strong>不能超过250字，需审核，请自觉遵守互联网相关政策法规。
    	</p>
    	<div>
    		<br />
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		<textarea cols="82" rows="9" name="body" id="body" #if(!$memberSession) disabled="disabled" #end> 刚刚收到了衣服，衣服的质量很好，颜色也很正，大小合适。</textarea>
    		<input type="hidden" id="referenceCommentId" name="referenceCommentId"/>
			<br />
    		<br />
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<img src="#imageServer('exhk/2.jpg')" onclick="commentByJquery()" width="76" height="26"
    				border="0" align="absbottom"  style="cursor:hand;"/>
    		
    		 #if(!$memberSession)
        		<label class="exhk_info11"  id="noneVisibleLogin">
        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户名：
        			<input type="text" id="loginId" name="loginId" class="username" />
        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：
        			<input type="password" id="password" name="password" class="userpassword" />
        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        			<img  src="#imageServer('exhk/gif-0083.gif')"  id="send_ajax" onclick="loginByJquery()"
						width="75" style="cursor:hand;" height="25" border="0" align="absmiddle" />
        			
        		</label>
    		#end
    	</div>
    </div>
</form>



<script type="text/javascript">

function subStrDemo(str,maxLength){
             
   if(str.length>=maxLength)
   {
   		str = str.substr(0, maxLength) + "&nbsp;&nbsp;......";
   }
   return str; 
}

function putComment(commentId)
{
	var params = {id:commentId}; 
    jQuery.get("#cowApp('product/commentDetailByJquery')",params,putCommentCallBack,"json");
}
function putCommentCallBack(json) {
	
	document.getElementById("referenceCommentId").value=json.id;
	document.getElementById("body").innerHTML=json.body;
}


function getPageByJquery(page,productId)
{
	var product_id='$product.getId()';
	var params = {page:page,productId:productId}; 
    jQuery.get("#cowApp('product/commentPageByJquery')",params,commentPageCallBack,"json");
}
function commentPageCallBack(data) {
	
        var html = '<ul class="ct_mod01_commentary">';
      
		//var paginator=data.commentList.paginator;

		var page=data.paginator.page;
		var pages=data.paginator.pages;
		var nextPage=data.paginator.nextPage;
		var prePage=data.paginator.prePage;
			
        for(var i=0;i<data.commentList.length;i++) {
			var content=subStrDemo(data.commentList[i].body,150);
			var id=data.commentList[i].id;
			var name=data.commentList[i].name;
			name=name==null?"匿名":name;
			var comDiv="commentBodyDiv"+id;
			
            html +='<li><div id='+comDiv+'>'+content+
			'</div><div align="right"><span>作者：<em>'+name+'</em><a href="javascript:" class="a_style01" onclick="getDetailByJquery('+id
			+')">[详细内容]</a></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="a_style01">[回复]</a></div></li>';
        
		}
		
		html+='</ul>';
		if(data.commentList.length>0)
		{
			html +='<div class="ct_mod04_page" style="font-size:14px;">翻页<cite>'+page+'</cite>of<cite>'+pages+'</cite>';
		}
		
		if(page > 1)
		{
			html +='<a href="javascript:" onclick="getPageByJquery('+prePage+','+data.productId+')" class="a_style09"><em>上一页</em></a>';
		}
        if(page < pages)
		{
			html +='<a href="javascript:" onclick="getPageByJquery('+nextPage+','+data.productId+')" class="a_style09"><em>下一页</em></a>';
		}
		
		if(data.commentList.length>0)
		{
			html +='</div>';
		}
		html+='</ul>';
		document.getElementById("pageAjaxSpan").innerHTML=html;
}


function getDetailByJquery(commentId)
{
	var params = {id:commentId}; 
    jQuery.get("#cowApp('product/commentDetailByJquery')",params,commentDetailCallBack,"json");
}
function commentDetailCallBack(json) {
	document.getElementById("commentBodyDiv"+json.id).innerHTML=json.body;
}



function commentByJquery() 
{ 
	if(document.getElementById('body').disabled==false)
	{
    	var product_id='$product.getId()';
    	var rankItem=document.commentForm.rank;
		var rank=5;
		for(var i=0;i<rankItem.length;i++)
		{
			if(rankItem[i].checked==true)
			{
				rank=rankItem[i].value;
				break ;
			}
		}
		
    	var body=document.commentForm.body.value;
    	var referenceCommentId=document.getElementById("referenceCommentId").value;
		
    	var params = {productId:product_id,rank:rank,body:body,referenceCommentId:referenceCommentId}; 
    	jQuery.get("#cowApp('product/commentByJquery')",params,commentPageCallBack,"json");
	}
}


function loginByJquery() 
{ 
	var loginId=document.commentForm.loginId.value;
	var pwd=document.commentForm.password.value;
	var params = {loginId:loginId,password:pwd}; 
	jQuery.get("#cowApp('member/jqueryLogin')",params,loginCallBack,"json");

}
function loginCallBack(json) {
	
	if(json.loginResult==true)
	{
		document.getElementById('noneVisibleLogin').style.display='none';
		document.getElementById('body').disabled=false;
		
		
		//更改头部状态,已经登陆
		document.getElementById('memberLoginLink').href="#cowApp('member/modify')";
		document.getElementById('memberLoginImg').src="#imageServer('exhk/my_exhk.jpg')";
		document.getElementById('newMemberLink').href="#cowApp('member/modify')";
		document.getElementById('newMemberImg').src="#imageServer('exhk/exhk_logout.jpg')";
		document.getElementById('welcomeText').innerHTML=json.loginId;
		
	}
}


function chooseProductColor(colorId, colorName, imgGroupId) {
    document.getElementById("current_color").innerHTML = "可选颜色：<span>" + colorName + "</span>";
    document.getElementById("checkin_info_color").innerHTML = "颜色：<span>" + colorName + "</span>";
    document.getElementById("productColor").value = colorName;
    showImages(imgGroupId);
}
function chooseProductSize(size, sizeMessage) {


    document.getElementById("current_size").innerHTML = sizeMessage;
    document.getElementById("checkin_info_size").innerHTML = "尺寸：<span>" + sizeMessage + "</span>";
    document.getElementById("productSize").value = size;
}
function showImages(imgGroupId) {
    jQuery.get(
        "#cowApp('product/productImage')?imgGroupId="+imgGroupId,
        function(resp) {
            var data = eval("(" + resp + ")");
            var html = "";
            var style = "";
			
            for(i=0;i<data.images.length;i++) {
                if (i == 0) {
                    showImage(getProductImageUrl(data.images[i].sumImgName),getProductImageUrl(data.images[i].imgName));
                }
                if (i > 2) {
                    style = "display_none";
                }
                html += "<li><img id=\"images" + i + "\" name=\"imageGroup\" src=\"" + getProductImageUrl(data.images[i].sumImgName) + "\" onclick='showImage(\"" + getProductImageUrl(data.images[i].sumImgName) + "\",\"" + getProductImageUrl(data.images[i].imgName) + "\")' class=\"" + style +"\"/></li>"
            }
            currentImage = 0;
            document.getElementById("images").innerHTML = html;
        }
    );
}
function showImage(sumPath,path) {
    document.getElementById("image").src = sumPath;
    document.getElementById("image").alt = path;
    document.getElementById("bigImage").href = path;
}
function getProductImageUrl(imageName) {
    return "#productImageServer('')" + imageName;
}
function priceChange(price) {
    var value = document.getElementById("num").value;
    if(!isNum(value) || value < 1) {
        alert("购买数量必须为正整数！");
        return;
    }
    document.getElementById("checkin_info_price").innerHTML = "总价：<span>￥" + price * value +"</span>";
}
function isNum(num) {
    var regex = /^[0-9]{1,}$/;
    return regex.test(num);
}
var currentImage = 0;
function roll(loc) {
    if (loc == 1){
        var next = currentImage + 3 ;
        if(document.getElementById("images" + next) != null) {
            document.getElementById("images" + next).className = "";
            document.getElementById("images" + currentImage).className = "display_none";
            currentImage = currentImage + 1;
        }
    } else {
        var left = currentImage - 1;
        var right = currentImage + 2;
        if (document.getElementById("images" + left) != null) {
            document.getElementById("images" + left).className = "";
            document.getElementById("images" + right).className = "display_none";
            currentImage = currentImage - 1;
        }
    }
}
#if($firstColor)showImages($firstColor.getImgGroupId());#end
priceChange("$product.getMyPrice()");
//购物车
function cart(url) {
    var productSize = document.getElementById("productSize").value;
    if(productSize == null || productSize.length == 0) {
        alert("请选择尺寸.");
        return;
    }
    document.getElementById("productAmount").value = document.getElementById("num").value;
    document.getElementById("orderForm").action=url;
    document.getElementById("orderForm").submit();
}


//放大镜
jQuery.noConflict();
jQuery(document).ready(function(){
    jQuery("img.jqzoom").jqueryzoom({
        xzoom: 341,
        yzoom: 256,
        offset:10
    }); 
});
</script>
