<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>RaspCTL</title>
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.9.2.custom.css" />
    <script src="/static/js/jquery-1.8.3.js"></script>
    <script src="/static/js/jquery-ui-1.9.2.custom.js"></script>
    <link rel="stylesheet" href="/static/development-bundle/demos/demos.css" />
    <style>
    #toolbar { padding: 10px 4px; }
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 25%; }
    #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
    .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
    </style>
</head>
<body>

<span id="toolbar" class="ui-widget-header ui-corner-all">
    <button id="beginning">go to beginning</button>
    <button id="rewind">rewind</button>
    <button id="play">play</button>
    <button id="stop">stop</button>
    <button id="forward">fast forward</button>
    <button id="end">go to end</button>
 
    <span id="repeat">
        <input type="radio" id="repeat0" name="repeat" checked="checked" /><label for="repeat0">顺序</label>
        <input type="radio" id="repeat1" name="repeat" /><label for="repeat1">循环</label>
    </span>
    
    <input type="checkbox" id="shuffle" /><label for="shuffle">播放列表</label>
</span>

<ul id="sortable">
    <li class="ui-state-default" value="1">Item 1</li>
    <li class="ui-state-default" value="2">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
    <li class="ui-state-default">Item 6</li>
    <li class="ui-state-default">Item 7</li>
</ul>

<script type="text/javascript">
 $(function() {
        $( "#beginning" ).button({
            text: false,
            icons: {
                primary: "ui-icon-seek-start"
            }
        });
        $( "#rewind" ).button({
            text: false,
            icons: {
                primary: "ui-icon-seek-prev"
            }
        });
        $( "#play" ).button({
            text: false,
            icons: {
                primary: "ui-icon-play"
            }
        })
        .click(function() {
            var options;
            if ( $( this ).text() === "play" ) {
                options = {
                    label: "pause",
                    icons: {
                        primary: "ui-icon-pause"
                    }
                };
            } else {
                options = {
                    label: "play",
                    icons: {
                        primary: "ui-icon-play"
                    }
                };
            }
            $( this ).button( "option", options );
        });
        $( "#stop" ).button({
            text: false,
            icons: {
                primary: "ui-icon-stop"
            }
        })
        .click(function() {
            $( "#play" ).button( "option", {
                label: "play",
                icons: {
                    primary: "ui-icon-play"
                }
            });
        });
        $( "#forward" ).button({
            text: false,
            icons: {
                primary: "ui-icon-seek-next"
            }
        });
        $( "#end" ).button({
            text: false,
            icons: {
                primary: "ui-icon-seek-end"
            }
        });
        $( "#shuffle" ).button();
        $( "#repeat" ).buttonset();
    });

    $(function() {
        $( "#sortable" ).sortable({
            placeholder: "ui-state-highlight"
        });
        $( "#sortable" ).disableSelection();
        $( "#sortable" ).on("sortupdate", function(event, ui){
        });
    });
</script>
 
</body>
</html>
