{% extends 'base.html' %}
{% load filter tag %}
{% block body %}
{% get_account account %}
<div id="content" class="colM">
    <h1>账户情况</h1> 
    <div id="content-main">
        <div id="changelist" class="module">
        <table cellspacing="0"> 
            <thead><tr>
                <th>总额：{{ account.cash|math_add:account.bank }}</th>
                <th>现金：{{ account.cash }}</th>
                <th>存款：{{ account.bank }}</th>
            </tr></thead>
        </table>
        </div>
    </div>
    <h1>增加 业主信息</h1>
    <div id="content-main">
        {% if error %}
        <div>
            <ul class="errorlist"><li>{{ error }}</li></ul>
        </div>
        {% endif %}
        <div>
            <fieldset class="module aligned ">
            <form enctype="multipart/form-data" action="" method="post" id="bank_form">
                <table>{{ form.as_table }}</table>
                <input type="submit" value="添加银行账户信息">
            </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
