<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action" value="examples/groups_action"/>
    <br />
	#set($group = $form.user.getInstance("1"))
	user1:
	<input name="$group.name.key" value="n1" />
	<input name="$group.password.key" value="p1" />
	<br />
	#set($group = $form.user.getInstance("2"))
	user2:
	<input name="$group.name.key" value="n2" />
	<input name="$group.password.key" value="p2" />
	<br />
	#set($group = $form.user.getInstance("3"))
	user3:
	<input name="$group.name.key" value="n3" />
	<input name="$group.password.key" value="p3" />
	<br />
	<input type="submit" name="event_submit_do_upldate" />
</form>