<div id="style02">
    <div class="bgstyle01_hd"></div>
    <div class="bgstyle01_mid">
        <h2 class="mycart_h2">育婴论坛</h2>
        <ul class="style_20">
            <li class="STYLE1">
                <div align="center">
                    <br />
                    <strong>对不起，页面建设中</strong>
                </div>
            </li>
        </ul>
    </div>
    <div class="bgstyle01_ft"></div>
</div>
