<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>联系我们</h1>
    <ul class="style06">
        <li>
            1.客服热线
            <ul class="style05">
                <li>
                    400-705-8898
                </li>
                <li>
                    0575-81160001
                </li>
                <li>
                    0575-81160002
                </li>
                <li>
                    0575-81160003
                </li>
            </ul>
        </li>
        <li>
            2.传真
            <ul class="style05">
                <li>
                    0575-81160008
                </li>
            </ul>
        </li>
        <li>
            3.客服邮箱
            <ul class="style05">
                <li>
                    <a href="mailto:aikehk@163.com">aikehk@163.com</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="bgstyle01_ft"></div>