<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>如何办理退换货说明</h1>
    <ul class="style06">
        <li>
            1.如果您的订单需要办理退换货，请您务必先通过电话方式与爱可客服中心联系
            <ul class="style05">
                <li>
                    客服电话：400-705-8898，0575-81160001，0575-811600020575-81160003
                </li>
            </ul>
        </li>
        <li>
            2.您联系客服后，请严格按以下步骤进行操作：
            <ul class="style05">
                <li>
                    1）请将需退换的商品、原包装内的商品发货单及发票(如果有)，通过可查询的邮政包裹或快递方式寄送至爱可公司，如退换货单及发票(如果有)未随货物一并返还，可能造成我们无法或者延误为您办理退换货；如果您使用了不可查询的邮寄/快递手段退回商品，一旦发生商品遗失、破损、误送等情况，爱可不承担责任，敬请谅解 。
                </li>
                <li>
                    2）请务必附带以下信息，及正确填写邮政包裹单上各类信息，包括：
                    <ul class="style05">
                        <li>
                            a.您的姓名、地址、联系方式
                        </li>
                        <li>
                            b.您的订单号码
                        </li>
                        <li>
                            c.办理退货还是换货
                        </li>
                        <li>
                            d.办理退换货的商品名称及数量、退/换货原因
                        </li>
                        <li>
                            如以上信息缺失，可能造成我们无法为您办理退换货事宜；同时，您应保证您所填写的信息是真实、准确、合法的且不会侵犯任何第三方的合法权益，如因您填写资料有误，而导致无法退换货、延误退换货或导致其他合法第三方争议的，爱可不承担责任；如因此而导致第三方向爱可主张权利的，爱可保留向您追偿的一切权利。
                        </li>
                    </ul>
                </li>
                <li>
                    3）我们收到您的包裹后，会对您退回的商品进行质检，然后根据您的要求进行退换货操作。
                    <ul class="style05">
                        <li>
                            若办理换货，我们会在收到您的包裹48小时内，将您需要的商品发出，若您需要的商品缺货，我们会在第一时间联系您，经您同意的情况下更换为其它商品或根据您的要求，进行退货处理。
                        </li>
                        <li>
                            若办理退货，退款会使用您原订单的支付方式进行退回。
                        </li>
                    </ul>
                </li>
                <li>
                    4）退/换货包裹接收地址
                    <ul class="style05">
                        <li>
                            收件人：绍兴市爱可幼品服饰有限公司
                        </li>
                        <li>
                            电话：81160004
                        </li>
                        <li>
                            邮编：312000
                        </li>
                        <li>
                            地址：柯桥天汇宝驰大厦1904
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            3.因商品质量问题（非人为损坏）造成的退、换货，爱可承担您邮寄或快递到爱可的费用（请您注意使用合理的方式进行邮寄或快递，爱可为您承担的邮寄或快递费用上限原则上不超过爱可向您收取的货物运费金额），此费用将会使用您原订单的支付方式进行退回。
        </li>
    </ul>
</div>
<div class="bgstyle01_ft"></div>
