<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>款到快递及配送时间</h1>
    <ul class="style06">
        <li>
            商品出库后4-6天送达，偏远乡镇商品出口后5-8天送达。
        </li>
    </ul>
</div>
<div class="bgstyle01_ft"></div>
