<div id="style02">
    <div class="bgstyle01_hd"></div>
    <div class="bgstyle01_mid">
        <h2 class="mycart_h2">加入爱可</h2>
        <ul class="style_20">
            <li>请与爱可客服联系！</li>
            <li>客服电话：</li>
            <li>400-705-8898</li>
        </ul>
    </div>
    <div class="bgstyle01_ft"></div>
</div>
