<div class="fot_tel">
    <a href="mailto:aikehk@163.com">
        <img src="#imageServer('exhk/fot_email.jpg')" alt="发送邮件给我们"></a>
        <img src="#imageServer('exhk/fot_tool_0303.jpg')" alt="" class="fot_420"/>
</div>
<ul class="exhk_help">
    <li><a href="#cowApp('member/register')" target="_blank" class="a_style01">用户注册</a></li>
    <li><a href="#cowApp('help/subscription')" target="_blank" class="a_style01">订购流程</a></li>
    <li><a href="#cowApp('help/payment')" target="_blank" class="a_style01">支付方式</a></li>
</ul>
<ul class="exhk_help">
    <li>
        <a href="#cowApp('help/refund')" target="_blank" class="a_style01">如何办理退款</a>
    </li>
    <li>
        <a href="#cowApp('help/exchangePolicy')" target="_blank" class="a_style01">退换货的政策</a>
    </li>
    <li>
        <a href="#cowApp('help/invoice')" target="_blank" class="a_style01">发票制度说明</a>
    </li>
</ul>
<ul class="exhk_help">
    <li>
        <a href="#cowApp('help/exchangeInfo')" target="_blank" class="a_style01">如何办理退换货说明</a>
    </li>
    <li>
        <a href="#cowApp('help/expressTime')" target="_blank" class="a_style01">款到快递及配送时间</a>
    </li>
    <li>
        <a href="#cowApp('help/expressCost')" target="_blank" class="a_style01">配送费收取标准查询</a>
    </li>
</ul>
<ul class="exhk_help01">
    <li>
        <a href="#cowApp('help/question')" target="_blank" class="a_style01">常见问题</a>
    </li>
    <li>
        <a href="#cowApp('help/contact')" target="_blank" class="a_style01">联系我们</a>
    </li>
    <li>
        <a href="#cowApp('help/recommend')" target="_blank" class="a_style01">投诉建议</a>
    </li>
</ul>
<ul class="exhk_footer_nav">
    <li>
        <a href="#cowApp('index')" class="a_style01">首页</a>
    </li>
    <li>|</li>
    <li>
        <a href="#cowApp('help/introduce')" target="_blank" class="a_style01">公司简介</a>
    </li>
    <li>|</li>
    <li>
        <a href="#cowApp('help/groupBuy')" target="_blank" class="a_style01">团购优惠</a>
    </li>
    <li>|</li>
    <li>
        <a href="#cowApp('help/declare')" target="_blank" class="a_style01">隐私声明</a>
    </li>
    <li>|</li>
    <li>
        <a href="#cowApp('help/join')" target="_blank" class="a_style01">加入爱可</a>
    </li>
    <li>|</li>
    <li>
        <a href="#cowApp('help/recommend')" target="_blank" class="a_style01">投诉与建议</a>
    </li>
</ul>
<p class="exhk_footer_nav01">Copyright © 2009 - 2009 aike.hk All Rights Reserved </p>
</div>

#parse("templates/common/toolbar.vm")
