<div id="ct_mod05">
    <ul>
        <li>
            <h1>个人信息管理</h1>
        </li>
        <li><a href="#cowApp("member/modify")" class="a_style01">个人档案</a></li>
        <li><a href="#cowApp("member/modifyPwd")" class="a_style01">密码修改</a></li>
		<li><a href="#cowApp("member/accountList")" class="a_style01">爱可帐户</a></li>
		<li><a href="#cowApp("member/invite")" class="a_style01">注册活动</a></li>
    </ul>
    <ul>
        <li>
            <h1>订单管理</h1>
        </li>
        <li><a href="#cowApp("member/orderList")" class="a_style01">我的订单</a></li>
    </ul>
</div>
