<form id="alipay" name="alipay" method="post" action="https://www.alipay.com/cooperate/gateway.do?_input_charset=utf-8">
    <input type="hidden" name="body" value="$!body"/>
    <input type="hidden" name="logistics_type" value="$!logistics_type"/>
    <input type="hidden" name="logistics_fee" value="$!logistics_fee"/>
    <input type="hidden" name="logistics_payment" value="$!logistics_payment"/>
    <input type="hidden" name="out_trade_no" value="$!out_trade_no"/>
    <input type="hidden" name="partner" value="$!partner"/>
    <input type="hidden" name="payment_type" value="$!payment_type"/>
    <input type="hidden" name="seller_email" value="$!seller_email"/>
    <input type="hidden" name="service" value="$!service"/>
    <input type="hidden" name="sign" value="$!itemUrl"/>
    <input type="hidden" name="sign_type" value="$!sign_type"/>
    <input type="hidden" name="subject" value="$!subject"/>
    <input type="hidden" name="price" value="$!price"/>
    <input type="hidden" name="quantity" value="$!quantity"/>
    <input type="hidden" name="discount" value="$!discount"/>
    <input type="hidden" name="show_url" value="$!show_url"/>
    <input type="hidden" name="return_url" value="$!return_url"/>
</form>
<script type="text/javascript">
    document.getElementById("alipay").submit();
</script>
