{% extends 'base.html' %}
{% block body %}
<h1>增加 业主信息</h1>
<div id="content-main">
    <div>
        <fieldset class="module aligned ">
        <form enctype="multipart/form-data" action="" method="post" id="user_form">
            <table>{{ form.as_table }}</table>
            <input type="submit" value="修改业主信息">
        </form>
        </fieldset>
    </div>
</div>
<script type="text/javascript">
function rent() {
    value = document.getElementById("id_kind").value;
    if(value == "R") {
        document.getElementById("id_rent_name").parentNode.parentNode.style.display=null;
        document.getElementById("id_rent_contact_no").parentNode.parentNode.style.display=null;
        document.getElementById("id_rent_fee_kind").parentNode.parentNode.style.display=null;
    } else {
        //document.getElementById("id_rent_name").value = "";
        //document.getElementById("id_rent_contact_no").value = "";
        //document.getElementById("id_rent_fee_kind").value = "";
        document.getElementById("id_rent_name").parentNode.parentNode.style.display="none";
        document.getElementById("id_rent_contact_no").parentNode.parentNode.style.display="none";
        document.getElementById("id_rent_fee_kind").parentNode.parentNode.style.display="none";
    }
}
rent();
document.getElementById("id_kind").onchange=rent;
</script>
{% endblock %}
