<html>
  <head>
  	<title>Float Layer</title>
  </head>
  <body>
  	<a href="#" onclick="login();">登录</a>
  	<p/>
  	<div id="login" style="display:none">
  	  <iframe src="http://detail.alibaba.com:5000/login_frame" target="_blank">
  	  </iframe>
  	</div>
  	<p/>
  	<div id="info"></div>
  	
  	<script type="text/javascript">
	  function login() {
	    document.getElementById("login").style.display = "block";
	  }   
	  
	  function login_display(name, pwd) {
	    document.getElementById("login").style.display = "none";
	    document.getElementById("info").innerHTML = "登录名：" + name + "／登录密码:" + pwd;
      }
    </script>
  </body>
</html>