<div id="content-related"> 
    <div class="module" id="recent-actions-module"> 
    <h2>菜单</h2> 
    <h3>业主信息</h3> 
    <ul class="actionlist"> 
        <li class="addlink"><a href="/member/add/">添加业主</a></li> 
        <li class="addlink"><a href="/member/list/">业主列表</a></li>
    </ul>
    <h3>账户信息</h3> 
    <ul class="actionlist"> 
        <li class="addlink"><a href="/fee/account/account/">账户信息</a></li> 
        <li class="addlink"><a href=/report/report/>明细报表</a></li>
    </ul>
    <h3>存取款信息</h3> 
    <ul class="actionlist"> 
        <li class="addlink"><a href=/fee/bank/list/>存取款列表</a></li>
        <li class="addlink"><a href=/fee/bank/add/>存取款</a></li> 
    </ul>
    <h3>成本记录</h3> 
    <ul class="actionlist"> 
        <li class="addlink"><a href=/fee/cost/list/>成本列表</a></li>
        <li class="addlink"><a href=/fee/cost/add/>添加成本</a></li>  
    </ul>
    <h3>收入记录</h3> 
    <ul class="actionlist"> 
        <li class="addlink"><a href=/fee/revenue/list/>收入列表</a></li>
        <li class="addlink"><a href=/fee/revenue/add/>添加收入</a></li>   
    </ul>
    <h3>系统后台</h3>
    <ul class="actionlist"> 
        <li class="addlink"><a href=/admin/?admin=backoffice>系统后台</a></li>
    </ul>
    </div>
</div>