{% extends 'base.html' %}
{% load filter %} 
{% block body %}
<div id="content" class="colM">
    <h1>业主信息</h1>
    <div id="content-main">
    {% if not member %}
        <ul class="errorlist"><li>业主不存在！</li></ul>
    {% else %}
        <div>
        <fieldset class="module aligned">
        <div class="form-row room_no">
            <div><label for="id_room_no">房号:</label>{{ member.room_no }}</div>
        </div>
        <div class="form-row name  ">
            <div><label for="id_name">业主姓名:</label>{{ member.name }}</div>
        </div>
        <div class="form-row area  ">
            <div><label for="id_area">住房面积:</label>{{ member.area }}</div>
        </div>
        <div class="form-row fee_unit_price  ">
            <div><label for="id_fee_unit_price">每月物业费:</label>{{ member.fee_unit_price|math_mul:member.area }}</div>
        </div>
        <div class="form-row identity_card_no  ">
        <div><label for="id_identity_card_no">身份证号:</label>{{ member.identity_card_no }}</div>
        </div>
        <div class="form-row phone_no  ">
        <div><label for="id_phone_no">联系电话:</label>{{ member.phone_no }}</div>
        </div>
        <div class="form-row kind  ">
            <div><label for="id_kind">用房性质:</label>{{ member.get_kind_display }}</div>
        </div>
        <div class="form-row bicycle_garage_no  ">
            <div><label for="id_bicycle_garage_no">自行车库号:</label>{{ member.bicycle_garage_no }}</div>
        </div>
        <div class="form-row garage_no  ">
            <div><label for="id_garage_no">汽车停车位:</label>{{ member.garage_no }}</div>
        </div>
        <div class="form-row parking_no  ">
            <div><label for="id_parking_no">停车卡号:</label>{{ member.parking_no }}</div>
        </div>
        <div class="form-row memo  ">
            <div><label for="id_memo">备注:</label>{{ member.memo }}</div>
        </div>
        <div class="form-row id">
            <div><label for="id_id"><a href="/member/update/{{ member.id }}/" class="changelink">修改业主信息</a></label></div>
            <div><label for="id_id"><a href="/fee/revenue/add/?mid={{ member.id }}" class="changelink">收取费用</a></label></div>
            <div><label for="id_id"><a href="/fee/cost/add/?mid={{ member.id }}" class="changelink">返还费用</a></label></div>
        </div>
        </fieldset>
        </div>
    {% endif %}
    
    {% if rs %}
    <h1>最近10次交费记录</h1>
    <div id="content-main">
        <div id="changelist" class="module">
        <table cellspacing="0"> 
            <thead><tr>
                <th>类型</th>
                <th>金额</th>
                <th>日期</th>
                <th>摘要</th>
            </tr></thead>
            <tbody>
                {% for r in rs %}
                <tr class="{{ forloop.counter|row }}">
                    <td>{{ r.get_code_display }}</td>
                    <td>{{ r.amount }}</td>
                    <td>{{ r.date }}</td>
                    <td>{{ r.subject }}</td>
                </tr>
                {% endfor %} 
            </tbody> 
        </table>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}