<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>退换货的政策</h1>
    <ul class="style06">
        <li>
            客户收到商品之日起5日内，如果发现商品尺寸不适合，我们将为您免费办理退换货服务。
        </li>
        <li>
            特殊说明：
            <ul class="style05">
                <li>
                    1.退换货发生时，请您选择普通快递将商品寄回给我们。
                </li>
                <li>
                    2.报销的运费将会使用您原订单的支付方式进行退回。
                </li>
                <li>
                    3.因客户个人原因造成的商品损坏（自行修改尺寸等），不予退换。
                </li>
                <li>
                    4.礼包或套装中的商品不可以部分退货。
                </li>
                <li>
                    5.通常情况下，一张订单只能进行一次退换货操作，所以为了确保您的权益，请您考虑周全后与我们联系。
                </li>
                <li>
                    6.图片及信息仅供参照，因拍摄灯光及不同显示器色差等问题可能造成商品图片与实物有一定色差，一切以实物为准。
                </li>
            </ul>
        </li>
        <li>
            感谢您对爱可的支持，爱可将为您提供最优质的商品及服务，此规则最终解释权由爱可所有。 
        </li>
    </ul>
</div>
<div class="bgstyle01_ft"></div>
