<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>配送费收取标准查询</h1>
    <ul class="style06">
        <li>
            1.平邮（需自提）：6元。
        </li>
        <li>
            2.普通快递（支持送货上门）：10元。
        </li>
        <li>
            3.顺丰快递：15元。
        </li>
        <li>
            4.EMS：20元。
        </li>
        <li>
            全场满200元，免运费。
        </li>
    </ul>
</div>
<div class="bgstyle01_ft"></div>