<div id="style02">
    <div class="bgstyle01_hd"></div>
    <div class="bgstyle01_mid">
        <h2 class="mycart_h2">公司简介</h2>
        <ul class="style_20">
            <li>我们是来自香港的爱可幼品,一直把您的宝宝看待成自己的孩子。</li>
            <li>环境的污染和日益恶化的空气质量让身边的”绿色”越来越名不副实,衣物是我们的第二层皮肤,而对于宝宝娇嫩的肌肤更需要真正的呵护。</li>
            <li>所以，</li>
            <li>爱可一直致力于开发宝宝衣物产品,不让他们受到任何外界污染和刺激。</li>
            <li>爱可采用全绿色环保染料,选择纯鲜白,本米白,淡柠檬黄,嘟嘟粉,浅天蓝,色泽优雅,柔和,清爽, 可爱 ,让宝宝的第二层肌肤会呼吸。</li>
            <li>爱可的产品,小到每一根纯棉线,大到每一种面料的选材,都是经过我们专业人员的筛选,采用100%上等精梳棉。</li>
            <li>用爱可的产品宝宝皮肤不会过敏。</li>
            <li>关于棉线:  市面上用做婴儿衣服的线几乎都是全涤线,而我们采用的是价格高出3倍的纯棉线。</li>
            <li>关于按扣:  市面上的按扣是”全铜”,行家分析,这种铜中会含有铅成分,不利于宝宝发育. 而我们采用的是价格高出1/2的高环保”纯铜”按扣。</li>
            <li>关于商标:  同样高出普通价格的纯棉商标也是为宝宝专门定做的, 材质柔软。</li>
            <li>我们做到每一个小细节的完美,让您和您的宝宝真正对我们放心</li>
            <li>爱可的全新绿色设计理念和剪裁,让宝宝穿的更合身。</li>
            <li>爱可的所有产品都达到出口日本的质量标准, 让中国宝宝一样站在世界高起点。</li>
            <li>那价格呢??</li>
            <li>爱可做到了质量好一倍,价格底一半,让所有的妈妈都能买的起的高品牌。</li>
            <li>爱可为宝宝挡去阴云,永远让他们享受在最清新的蓝天白云下。</li>
            <li>完美的肌肤要完美的呵护。</li>
            <li>爱可幼品,真的请妈妈放心!! </li>
        </ul>
    </div>
    <div class="bgstyle01_ft"></div>
</div>
