<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>发票制度说明</h1>
    <ul class="style06">
        <li>
            1.如何获得发票？
            <ul class="style05">
                <li>
                    您成功支付货款后，请联系我们的客服，核对好订单号、商品信息后，将您的发票抬头提供给客服人员，发票将随同商品一起送到。
                </li>
            </ul>
        </li>
        <li>
            2.爱可是否提供增值税发票？
            <ul class="style05">
                <li>
                    目前，爱可还未提供增值税发票。
                </li>
            </ul>
        </li>
        <li>
            3.说明
            <ul class="style05">
                <li>
                    爱可提供的发票为普通发票。
                </li>
                <li>
                    一张订单对应一张发票，发票会随包裹一同发出。
                </li>
                <li>
                    配送费金额包含在订单发票金额中。
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="bgstyle01_ft"></div>
