<div id="style02">
    <div class="bgstyle01_hd"></div>
    <div class="bgstyle01_mid">
        <h2 class="mycart_h2">加盟协议</h2>
        <ul class="style_20">
            <li><DIV style="BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid;
                    SCROLLBAR-FACE-COLOR: #ffa500; OVERFLOW: scroll; BORDER-LEFT: black 1px solid;
                    WIDTH:720px; SCROLLBAR-SHADOW-COLOR: #ffd700; COLOR: #000000; 
                    SCROLLBAR-3DLIGHT-COLOR: #ff7f50; SCROLLBAR-ARROW-COLOR: #ffffff; 
                    BORDER-BOTTOM: black 2px solid; SCROLLBAR-DARKSHADOW-COLOR: #000000; HEIGHT: 420px" align=center>
                    <div align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>爱可个人网站联盟服务协议书</strong>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本个人网站联盟服务协议书，是对绍兴市爱可幼品服饰有限公司（以下简称为“爱可幼品”）及根据本协议注册为爱可幼品个人网站联盟会员的自然人、法人或其他组织之间的权利义务关系之约定。您注册为爱可幼品个人网站联盟会员，即视为您同意接受本协议的约束，并愿意按照本协议的约定享受您的权利，并履行您的义务。您必须保证，您已仔细阅读、完全理解并接受本协议条款。
                        第一条 术语定义：
                        <br />
                        1 用户：通过个人网站联盟会员网站上的推广链接，访问爱可幼品网站并在爱可幼品网站进行商务活动或其它相关活动的因特网用户。
                        <br />
                        2 推广服务费：按照本协议书第二条，爱可幼品需支付给个人网站联盟会员的费用。
                        <br />
                        3 RD，Return Day，推广效果认定期，指爱可幼品认可用户有效购买行为的期限，即用户通过个人网站联盟会员设置的推广链接到达爱可幼品网站浏览， 在效果认定期内（比如RD=1天），未通过联盟会员而直接浏览爱可幼品网站（客户须使用同一台电脑方能认定）并产生了购买行为，此行为也被视为认定个人网站联盟会员业绩的有效购买行为。
                        <br />
                        4 正确推广，联盟会员仅能在其网站中投放爱可幼品未被修改的推广代码带来用户，不可诱导用户，更不可欺骗客户，不可在百度、GOOGLE等搜索引擎上购买“aike”“爱可幼品”等关键词来推广。不得使用域名中包含“aike”的域名或与aike相同或近似的域名，比如aikes或aikel,aikee等，来推广aike的产品。未经爱可幼品同意，不得以任何形式使用爱可幼品的名称、商标和logo。绍兴市爱可幼品服饰有限公司对此有最终解释权。
                        <br />
                        5 可提成订单：用户订单不处于无效、待核、已作废、拒收已入库、等待系统处理、有效待支付等几种状态，且没有使用不允许订单提成的礼品卡，这样的订单为联盟会员可提成订单。
                        <br />
                        6 允许订单提成的礼品卡：爱可幼品联盟专用的礼品卡，礼品卡的序号中包括      字样。
                        <br />
                        7 订单金额：订单中包含商品的总金额（折扣后的），不包括订单中用户支付的运费和附加费。
                        <br />
                        8 附加费：包装费+刺绣费+制版费 （刺绣费+制版费 为团购订单特有）
                        <br />
                        9 出库金额：发货订单的订单金额之和，包括因换货出库的商品金额。
                        <br />
                        10 入库金额：退货商品的总金额，包括因换货入库的商品金额。
                        <br />
                        11 礼品卡金额：支付时使用支付方式为礼品卡和赠送的金额。
                        <br />
                        12 可提成金额：订单生成30天内的出库金额（即购买的）－订单生成30天内的入库金额（即退掉的）－礼品卡金额。
                        <br />
                        13 通用条款：是指所有接受本协议约束的法人、自然人及其他组织，在履行本协议过程中应遵守的规定，是本协议不可分割的组成部分，与本协议具有同等法律效力。
                        第二条 个人网站联盟会员操作流程
                        <br />
                        1 您首先在阅读、理解并接受本协议的基础上，进行注册，一旦注册成功，您将被视为爱可幼品个人网站联盟会员，享受个人网站联盟会员的权利，并履行个人网站联盟会员的义务。
                        <br />
                        2 您成为爱可幼品个人网站联盟会员后，您将获得爱可幼品个人网站联盟会员账号及密码，请您在注册成功后，立即修改您的登录密码，并妥善保管；因为您的原因造成密码遗失，因此而产生的损失，将会由您自行承担。
                        <br />
                        3 您在登录爱可幼品网站个人网站联盟会员账号后，应立即填写您的完整资料，包括但不限于您的银行结算账号（目前仅支持工商银行支付），您应真实、准确、完整的提供该信息，如因您提供的银行账号信息不完整、错误而导致爱可幼品无法向您进行结算的，将由您自行承担相应责任。
                        <br />
                        4 您注册为爱可幼品个人网站联盟会员后，可自行在您的网站上上载爱可幼品产品广告代码，但您必须保证不得对爱可幼品的产品代码进行任何形式的修改。
                        <br />
                        5用户可通过您在您的网站上设置的爱可幼品的广告链接，访问爱可网，爱可幼品将根据系统统计及本协议的约定计算您的推广费用。
                        <br />
                        6 您应明确：爱可幼品现行退换货周期为30日，爱可幼品有权根据客观情况及自身经营状况变更退换货周期，该种变更无须获得您的同意，爱可幼品仅须在发生此种变更时提前5日以电子邮件或网站公告形式通知您。
                        <br />
                        7爱可幼品若提高/降低推广服务费的支付标准，将提前5日以电子邮件或网站公告形式告知您，您如对爱可幼品变更后的推广服务费支付标准有异议的，应于收到通知之日起5日内以电子邮件或书面方式提出；如在您收到通知邮件后5日内未进行回复，也未提出任何异议的，视为您认可爱可幼品的该等变更，新的推广费标准将于您收到电子邮件之日起5日后或在公告所载日期生效；新的推广服务费支付标准生效后，自生效之日起，双方以新的支付标准进行结算。
                        第三条 推广服务费及支付
                        <br />
                        1 爱可幼品与您，自您成功注册为爱可幼品个人网站联盟会员之日起建立CPS（COST PER SALES，即按实际销售提成推广服务费模式）推广合作关系。推广服务费的支付条件比例由爱可幼品确定；您注册为爱可幼品个人网站联盟会员的行为即表示您完全接受本条款之约束。
                        <br />
                        2 只有按本协议规定的可提成订单参与提成并计算您可获得的推广费。
                        <br />
                        3 双方推广服务费确认和说明：在推广期内，爱可幼品每月按双方合作产生的实际可提成金额向您支付推广费，分成比例为: 按每月可提成金额的15%支付推广服务费，即爱可幼品向您支付的推广服务费=可提成金额*15% 。
                        <br />
                        4 结算：
                        <br />
                        4.1 爱可幼品在第三个月的前三个工作日统计并制作您的第一个月收益报表，并提供给您。
                        <br />
                        4.2 您如对爱可幼品提供的收益报表存在异议，应在收到收益报表之日起3个工作日内以电子邮件或传真方式提出；如在前述期限内未提出的，则视为您完全认同爱可幼品提供的收益报表，爱可幼品将据此与您进行结算。
                        <br />
                        4.3 如您在规定的期限内提出异议的，则爱可幼品将与您共同对异议订单进行核对，并以此次核对结果为最终结算依据。
                        <br />
                        4.4 爱可幼品于第三个月15日前后向您支付第一个月的推广费，以此类推，之后每月15日左右向您支付推广费。
                        <br />
                        4.5 您应明确：如果每月爱可幼品向您支付的推广费超过人民币800元整，则爱可幼品将会根据国家法律的规定，对超过800元的部分代扣20%的劳务税后，向您支付剩余款项。
                        <br />
                        4.6 爱可幼品与您共同确认：每月的起结金额为人民币肆拾元整，不到肆拾元的，将累积到下一结算周期一并结算。
                        第四条 爱可幼品的责任和义务
                        <br />
                        1 爱可幼品保证不会通过个人网站联盟会员之推广销售非法商品。如果因爱可幼品违反上述内容而造成的一切后果，将由爱可幼品自行承担。
                        <br />
                        2 爱可幼品将按照本协议的约定向个人网站联盟会员支付推广费。
                        <br />
                        3 爱可幼品有权自行决定与其自身经营相关的政策、规定，如该种决定可能影响到本协议的履行的，爱可幼品将依据本协议约定的时间及方式，提前通知个人网站联盟会员；个人网站联盟会员不能接受爱可幼品政策及规定变更的，应通知爱可幼品，并自新的政策及规定生效之日本协议终止。
                        <br />
                        4 对于通过个人网站联盟会员推广而购买爱可幼品产品的顾客，爱可幼品负责发货、退换货、维修、售后服务等与销售商品相关的行为。
                        <br />
                        5 爱可幼品根据自身判断，认为个人网站联盟会员正在进行或即将进行可能损害爱可幼品利益的活动时，有权立即冻结该个人网站联盟会员的联盟账号，并有权要求个人网站联盟会员立即停止一切与爱可幼品相关的活动，个人网站联盟会员应在收到爱可幼品通知之日起，立即停止相关活动并中断、删除所有与爱可幼品相关的推广链接。
                        <br />
                        6 爱可幼品指定的个人网站联盟负责人及联系方式如下：
                        负责人：尹国忠
                        电子邮箱：aikehk@live.cn 
                        电 话：0575-81160001
                        传 真：
                        上述人员发生变化时，爱可幼品将提前5个工作日以电子邮件或网站公告形式通知个人网站联盟会员。
                        <br />
                        7 爱可幼品有权经提前10天以电子邮件或网站公告、站内信息等形式通知个人网站联盟会员而终止本协议，协议的终止不影响双方此前已经发生的权利义务关系。本协议终止后，爱可幼品有权撤销个人网站联盟会员之联盟账号。
                        <br />
                        第五条 个人网站联盟会员的责任和义务
                        <br />
                        1 为了服务的顺利、平稳进行，个人网站联盟会员应尽最大努力保证平台运行的稳定性。
                        <br />
                        2 个人网站联盟会员在提供服务时如有下列行为，爱可幼品有权立即终止本协议：
                        <br />
                        2.1 未经爱可幼品同意，将服务过程中得到的信息向第三者公开或转发。
                        <br />
                        2.2 申请破产并开始清算、公司停业整顿期间或有不履行债务等的不良记录。
                        <br />
                        2.3 因停业、倒闭等理由停止支付的。
                        <br />
                        2.4 在与本服务运营有关的事项范围内，个人网站联盟会员违反有关法律法规时。
                        <br />
                        2.5 客观上被视为与犯罪有关的行为。
                        <br />
                        2.6 其他明显的非正当行为。
                        <br />
                        3 个人网站联盟会员在提供服务时获取的爱可幼品各项信息，未经爱可幼品同意不得泄漏给第三方,有相关法律法规规定或国家政府部门要求的情况时除外。
                        <br />
                        4 按照诚实守信的原则，个人联盟网站只能以合同中明确规定的正确的方式推广，否则爱可幼品可就违规当月业绩不予结算。
                        <br />
                        5 爱可幼品有特殊要求时，双方另立协议。
                        <br />
                        6 广告创意的所有权在于提供者，未经提供者的同意，个人网站联盟会员不得以盈利为目的擅自使用。
                        第六条 本协议的生效，并不代表爱可幼品与个人网站联盟会员之间存在任何隶属、代理关系，个人网站联盟会员不得以爱可幼品代理商或爱可幼品分支机构、子公司等名义对外进行宣传，亦不得擅自使用爱可幼品商标、名称或LOGO等。
                        <br />
                        第七条 免责条款
                        <br />
                        1 由于自然灾害或不可抗力（如软件、系统服务设备维护、检修等不得已情况，基础电信业务经营者电信线路服务中止等）等因素无法正常提供服务，双方可免于承担责任。
                        <br />
                        2 因市场的不可预测性及变化性，及各个人网站联盟会员的操作、经营方式的不同，个人网站联盟会员的收入将不可预测，爱可幼品不能保证个人网站联盟会员获得预期的收入。
                        第八条 保密条款
                        <br />
                        1.个人网站联盟会员知悉自爱可幼品获知或获准使用的硬件、软件、程序、密码、商品名、技术、许可证、专利、商标、LOGO、技术知识和经营过程是爱可幼品的合法所有，个人网站联盟会员对此无任何权利或利益，亦不会向任何第三方透露。
                        <br />
                        2.个人网站联盟会员在合作期间获知的爱可幼品的商业秘密、技术秘密等须保密的事项，在协议期间及协议终止后两年内不得向任何第三方披露或公开。
                        <br />
                        3．个人网站联盟会员承诺并保证：其对根据本协议获知的爱可幼品销售数据、销售信息、订单信息、顾客购买行为及本协议内容等进行严格保密，不会向任何第三方透露，亦不会向任何不相关之雇员、代理人、顾问等进行披露；同时，个人网站联盟会员有义务告知其因履行本协议而必须获知该等信息的雇员、联盟方，该等信息是保密信息，并就其雇员、联盟方的侵权或违约行为向爱可幼品承担责任。
                        <br />
                        4. 以上保密条款并不因本协议的解除和终止而失效。
                        第九条 其它
                        <br />
                        1 本协议自您成功注册为爱可幼品个人网站联盟会员之日起生效，您停止为爱可幼品进行推广或爱可幼品冻结、撤销您的联盟账号之日或出现本协议约定情形时，本协议终止。
                        <br />
                        2 一方向另一方发出的通知，以电子邮件形式发送的，自电子邮件成功自发送人处发送之时，视为对方收到该通知；以传真形式发送的，自传真完成发送之时，视为对方收到该通知；以快递形式发送的，以对方签收之日或发出之日起5日后视为对方收到该通知。
                        <br />
                        3 爱可幼品将通知发送至个人网站联盟会员注册时指定的电子邮箱，或自联盟公告发布之日起3日后，即视为个人网站联盟会员收到爱可幼品通知。
                        <br />
                        4 未尽事宜，双方应平等、友好协商，以合理解决问题的态度积极解决问题。如协商未果，可就该纠纷向北京市丰台区人民法院提起诉讼。
                        <br />
                        5 网络联盟营销服务通用条款是本协议不可分割的一部分，该通用条款的有效期间与本协议有效期相同，本协议及该通用条款构成完整协议。 
                        网络联盟营销服务通用条款
                        本通用条款，适用于所有与爱可幼品签订《联盟协议书》的法人、自然人或其他组织，所有前述人员均应遵守本通用条款之相应规定。本通用条款，作为联盟营销服务协议书的重要组成部分，与其具有同等法律效力。
                        <br />
                        第1条 爱可幼品网络联盟会员，应遵守爱可幼品关于网络联盟管理的相关规定及政策，包括但不限于双方签订的书面协议书条款、爱可幼品联盟网站发布的联盟管理规定、联盟网站操作规范及流程、爱可幼品以电子邮件或公告形式发布的管理规定等内容。
                        <br />
                        第2条 网络联盟会员确认：爱可幼品有权根据自身情况，调整联盟网站相关政策及规定、调整本通用条款之内容，爱可幼品调整联盟网站相关政策及规定或调整本通用条款之内容的，将以电子邮件或公告形式通知联盟会员，联盟会员如不同意该等变更，应于收到爱可幼品通知后5个工作日内提出，双方可进行结算，提前终止合约，互不承担违约责任；如联盟会员在收到爱可幼品通知后5个工作日内未提出任何异议，视为联盟会员接受爱可幼品政策及规定之变更；变更于通知注明之日期生效。
                        <br />
                        第3条 联盟会员在与爱可幼品合作过程中，不得有下列行为：
                        <br />
                        3.1 未经爱可幼品许可，不得以爱可幼品名义进行任何市场推广活动；不得以任何方式误导消费者，使其误认联盟会员是爱可幼品的子公司、分公司、关联公司、代理商或其他爱可幼品授权的折扣站点等。
                        <br />
                        3.2 联盟会员链接或向第三方进行推广时发送的爱可幼品网站或网页内容，应是经爱可幼品许可的，不得将任何未经爱可幼品许可或已过期或擅自修改的网站或网页内容进行链接或向第三方进行发送；
                        <br />
                        3.3 未经爱可幼品许可，不得复制爱可幼品网站内容，不得冒充爱可幼品官方网站，不得使用任何可能导致第三方误认为联盟会员是爱可幼品的文字、图片或使用其他可能导致第三方误认的方式进行推广；
                        <br />
                        3.4 不得在任何搜索引擎上购买与爱可幼品产品名称或爱可幼品名称、商标、logo、域名相同或近似的关键字（词），或包含前述内容的关键字（词），不得购买爱可幼品已购买的关键字（词）；
                        <br />
                        3.5 不得注册、使用与爱可幼品商标、名称及域名相同或近似的商标或域名，不得注册、使用包含爱可幼品商标、名称或域名的商标或域名。
                        <br />
                        3.6 联盟会员所有对爱可幼品的宣传图片、文字均应与爱可幼品发放给联盟渠道的一致，联盟会员自行进行大规模的邮件、短信、礼品卡及特殊促销活动时，必须事先获得爱可幼品书面确认及授权，未经爱可幼品许可，不得进行前述活动。
                        <br />
                        3.7联盟会员在进行推广时，不得在宣传文字及图片上以任何方式误导客户，提出与爱可幼品网站完全不一致的促销活动，包括但不限于运用不符合事实的“免费、特价、返点”等字样或类似方式。
                        <br />
                        3.8 如联盟会员经甲方许可，可以以EDM形式或短信群发形式进行推广的，联盟会员进行的推广内容，必须经爱可幼品书面（包括传真和电子邮件形式）确认，且必须在爱可幼品许可的时限内发送，不得超期发送。
                        <br />
                        第4条 联盟会员应严格管理及控制其旗下会员，应与其会员签署协议书，督促其会员在为爱可幼品进行推广时，遵守爱可幼品相关规定及政策，所有联盟会员应遵守之规定，联盟会员旗下之会员亦应遵守，如联盟会员旗下会员出现违规现象，爱可幼品将依据协议约定，对联盟会员进行相应处罚，并追究联盟会员之违约责任。
                        <br />
                        第5条 违约责任
                        <br />
                        5.1 如联盟会员违反双方签署的《联盟协议书》及本通用条款的约定，爱可幼品有权对联盟会员违约违规期间产生的业绩不予结算，并有权视联盟会员违规情节轻重，单方提前终止双方之合作。
                        <br />
                        5.2 如联盟会员违反《联盟协议书》及本通用条款的约定，其违约违规行为给爱可幼品造成损失或损害的，爱可幼品有权就该等损失或损害要求联盟会员进行赔偿。
                        <br />
                        5.3 联盟会员应明确：如果联盟会员或联盟会员旗下会员出现本协议第3条之行为，其不但构成对爱可幼品的违约，亦构成对爱可幼品合法权益的侵犯，爱可幼品保留移交司法部门处理的权利。
                        <br />
                        第6条 其他
                        <br />
                        6.1 本通用条款是双方《联盟协议书》不可分割的一部分，与其具有同等法律效力；
                        <br />
                        6.2 联盟会员确认：其已认真阅读本通用条款之内容，并承诺严格遵守本通用条款之规定。</div>
</FONT>
</DIV>
</li>
</ul>
</div>
<div class="bgstyle01_ft"></div>
</div>
