<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>支付方式</h1>
    <ul class="style06">
        <li>我们为您提供3种结算方式，您可以根据自身情况选择方便的方式支付货款： </li>
        <li>
            1.邮政储蓄汇款
        </li>
        <li>
            2.网上银行汇款
        </li>
        <li>
            3.支付宝汇款
        </li>
    </ul>
</div>
<div class="bgstyle01_ft"></div>
