<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>常见问题</h1>
    <ul class="style06">
        <li>
            1.是否支持货到付款？
            <ul class="style05">
                <li>
                    货到付款业务暂不开通，如有疑问可直接联系我们的客服。
                </li>
            </ul>
        </li>
        <li>
            2.如何订购？
            <ul class="style05">
                <li>
                    您可以通过拨打热线电话 400-705-8898，0575-81160001，0575-81160002，0575-81160003 联系我们的销售中心进行订购，也可以通过网站自行订购。
                </li>
            </ul>
        </li>
        <li>
            3.如何付款？
            <ul class="style05">
                <li>
                    我们为您提供3种结算方式，您可以根据自身情况选择方便的方式支付货款：
                </li>
                <li>
                    邮政储蓄汇款
                </li>
                <li>
                    网上银行汇款
                </li>
                <li>
                    支付宝汇款
                </li>
            </ul>
        </li>
        <li>
            4.配送费如何收取？
            <ul class="style05">
                <li>
                    我们有4种快递供您选择：平邮、普通快递（支持送货上门）、顺丰快递、EMS。
                </li>
                <li>
                    平邮收费：6元。
                </li>
                <li>
                    普通快递收费：10元。
                </li>
                <li>
                    顺丰快递收费：15元。
                </li>
                <li>
                EMS收费：20元。
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="bgstyle01_ft"></div>