<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>如何办理退款</h1>
    <ul class="style06">
        <li>
            发生退货后，请联系我们的客服，经客服工作人员核实后会为您办理退款，以下为退款方式及时间： 
        </li>
        <li>
            1.邮政储蓄汇款
            退款方式：通过邮政储蓄退至客户，7-15个工作日。
        </li>
        <li>
            2.网上银行汇款
            退款方式：通过网上银行退至客户，3-7个工作日。
        </li>
        <li>
            3.支付宝汇款
            退款方式：通过支付宝退至客户，3-7个工作日。
        </li>
        <li>
            温馨提示：若由于第三方支付平台或银行原因，造成货款无法及时退回，我们的客服人员会与您联系解决。 
        </li>
    </ul>
</div>
<div class="bgstyle01_ft"></div>
