/*********************布局************************/
html,body {
	font-family:"����" ,Arial, Helvetica,sans-serif;
	color:#666��
	font-size:12px;
	margin:0px;
	padding:0px;
}
#wrap{
	width:980px;
	margin:0 auto;
	padding-top:15px;
}
#ct_mod01,#ct_mod02,#ct_mod03,#ct_mod04,#ct_mod05{
	margin-bottom:40px;
}
#ct_mod05 h1{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}
.exkh_nav{
	list-style:none;
	margin:0px;
	padding:2px 0px 7px 0px;
	background:url(../images/exhk/navbarbg.jpg) no-repeat;
	width:980px;
	height:69px;
}
.exkh_nav li,#ct_mod01,#ct_mod02,#ct_mod03,#play_num li,#ct_mod02_new ul,#ct_mod02_recommend ul,.exhk_help,.exhk_help01,.exhk_footer_other li,.exhk_footer_nav li,.ct_mod04_position h1
,.ct_mod04_pro_show,.ct_mod04_pro_show02,#screen,.small_show_list ul li,.small_show_arrow_l,#pro_img_show,#pro_info
,.pro_color dd,.pro_size dd,.checkin_info dd,.pro_attribute,.pro_size_table,#ct_mod05,.style03 li,#play_img,.exhk_adlist li,.ct_mod03_style02 li
,.exhk_footer_nav01,.success_img,.success_title,.success_title02,.error_img,.error_title,.ct_mod04_page02,.invite_l{
	float:left;
}
.ct_mod04_page,.small_show_arrow_r,.exhk_tel,.invite_r{
	float:right;
}
.exhk_nav01{
	padding:6px 10px 5px 0px;
	*padding:6px 10px 3px 0px;
	border-right:1px solid #D8DCDE;
	margin:5px 0px 0px 15px;
	*margin:7px 0px 0px 15px;
}
.exkh_nav h1{
	margin:0px 0px 0px 0px;
	padding:0px;
	
}
.exhk_nav05{
	border-right:1px solid #D8DCDE;
	padding:5px 15px 3px 25px;
	*padding:7px 15px 3px 25px;
	margin:6px 0px 0px 0px;
}

.exhk_nav03{
	margin:6px 5px 0px 135px;
}
.exhk_nav04{
	margin:6px 0px 0px -5px;
}
.exhk_shopping{
	padding:8px 0px 5px 80px;
	*padding:8px 0px 5px 100px;
	background:url(../images/exhk/exhk_shopping.jpg) no-repeat 52px 5px;
	*background:url(../images/exhk/exhk_shopping.jpg) no-repeat 72px 8px;

}
#ct_mod01,#ct_mod02,#ct_mod03,#ct_mod04,#logoin,#screen,#register,#ct_mod05{
	margin-top:7px;
}
#ct_mod01,.style01{
	width:168px;
	padding-left:2px;
	*padding-left:1px;
}
#ct_mod01 ul h2,.a_style07,.exhk_help h1,.ct_mod01_classification,.welcome,.ct_mod_title03,.ct_mod03_style02 h3,.ct_mod03_style02 h2
,#ct_mod04 h1,.ct_mod04_pro_show h4,.ct_mod04_pro_show02 h4{
	margin:0px;
	padding:0px;
}
#ct_mod01 ul,.small_show_list ul,.checkin_info dl,.exhk_nav02 ul li{
	list-style:none;
	margin:0px;
	padding:0px;
}
.ct_mod_title01{
	margin:0px 0px 0px 25px;
	padding:5px 0px 0px 0px;	
}
.ct_mod01_style01{
	margin:0px 25px 0px 25px;
	padding:8px 0px 5px 0px;
	border-bottom:1px dashed #476B79;
}
.exhk_navleft_01_top{
	background:url(../images/exhk/exhk_navleft_01_top.jpg) no-repeat;
	width:180px;
	height:12px;
	overflow:hidden;
}
.exhk_navleft_01_mid{
	background:url(../images/exhk/exhk_navleft_01_mid.jpg) repeat;
	width:180px;
}
.exhk_navleft_01_fot{
	background:url(../images/exhk/exhk_navleft_01_fot.jpg) no-repeat;
	width:180px;
	height:12px;
	overflow:hidden;
}
.a_style05{
	background:url(../images/exhk/exhk_arrow_right.jpg) no-repeat 0px 0px;
	padding-left:15px;
	padding-top:2px;
}
.ct_mod01_classification li{
	padding:8px 0px 0px 18px;
}
.exhk_navleft_02_top{
	background:url(../images/exhk/exhk_navleft_01_top.jpg) no-repeat;
	width:180px;
	height:12px;
	overflow:hidden;
}
.exhk_navleft_02_mid{
	background:url(../images/exhk/exhk_navleft_01_mid.jpg) repeat;
	width:180px;
	overflow:hidden;
}
.exhk_navleft_02_fot{
	background:url(../images/exhk/exhk_navleft_01_fot.jpg) no-repeat;
	width:180px;
	height:12px;
	overflow:hidden;
}
#ct_mod02,#screen{
	margin-left:30px;
	*margin-left:15px;
}
#ct_mod02{
	width:772px;
}
#ct_mod02_flash{
	margin-top:15px;
}
.ct_mod_title02{
	margin:0px;
	padding:0px 0px 0px 20px;
}
.ct_mod01_style02 ul,.ct_mod01_commentary,#ct_mod02_new ul,#ct_mod02_recommend ul,.ct_mod03_style02 ol,#ct_mod05 ul,.style03 ul{
	list-style:none;
}
.ct_mod01_style02 ul li{
	padding-top:5px;
	padding-left:20px;
}
.ct_mod01_commentary p{
	line-height:1.5em;
	height:50px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin:0px 0px 8px 0px;
	padding-right:16px;
}
.ct_mod01_commentary em{
	margin-right:10px;
}
.ct_mod01_commentary li{
	margin-bottom:15px;
}
#ct_mod02_new h1,#ct_mod02_recommend h1,.ct_mod03_style02 h1{
	margin:0px 0px 15px 0px;
	padding:0px 0px 4px 0px;
}

#ct_mod02_new,#ct_mod02_recommend,.ct_mod03_style02{
	padding:30px 5px 0px 5px;
	*padding:15px 5px 0px 5px;
}
#ct_mod02_new ul,#ct_mod02_recommend ul{
	margin:0px;
	padding:5px 0px 0px 0px;
	line-height:1.5em;
	width:190px;
	height:232px;
	background:url(../images/exhk/pro_bg.jpg) no-repeat;
}
#ct_mod02_new ul li,#ct_mod02_recommend ul li{
	text-align:center;
	padding-top:15px;
}
#footer,.exhk_footer_other,.checkin_info div,.pro_size_table,.other_info,.clear,.ct_mod04_ad,.ct_mod04_page02{
	clear:both;
}
.ct_mod03_style02 h2{
	width:150px;
  margin:15px 0px 0px 5px;
	line-height:1.5em;
}
.ct_mod03_style02 ul{
	margin:15px 2px 0px 8px;
	*margin:10px 2px 0px 8px;
	padding:0px 0px 2px 0px;
}
.ct_mod03_style02 ul li{
	text-align:center;
	margin-left:15px;
}
.exhk_help,.exhk_help01{
	list-style:none;
	margin:0px 0px 20px 0px;
	padding:5px 35px 0px 15px;
	*padding:5px 35px 0px 15px;
}
.exhk_help li,.exhk_help01 li{
	margin-bottom:5px;
}
.exhk_footer_nav{
	list-style:none;
	padding:0px 0px 10px 530px;
	*padding:0px 0px 5px 500px;
	font-size:12px;
}
.exhk_footer_nav li{
	margin-right:5px;
	*margin-top:-8px;
}
.exhk_footer_nav01{
	padding-left:55px;
	*padding-left:65px;
	margin-top:5px;
	*margin-top:-8px;
}

#screen{
	width:772px;
}
.ct_mod04_position{
	height:20px;
}
.ct_mod04_page{
	margin:0px;
}
.ct_mod04_position cite{
	margin:0px 5px 0px 8px; 
}
.ct_mod04_list{
	padding:0px 0px 0px 0px;
}
.ct_mod04_pro_show,.ct_mod04_pro_show02{
	list-style:none;
	padding:0px 0px 0px 0px;
	margin:30px 0px 0px 0px;
}
.ct_mod04_pro_show li,.ct_mod04_pro_show02 li{
	padding:5px 20px 5px 20px;
	width:150px;
	text-align:center;
}
.ct_mod04_pro_show ,.ct_mod04_pro_show02 {
	height:210px;
}
.ct_mod04_page02{
	margin:10px 0px 0px 600px;
	margin:10px 0px 0px 600px!important;
	*margin:10px 0px 0px 300px;
}
#logoin{
	width:290px;
	height:230px;
	margin:80px 0px 50px 240px;
}
#logoin h1{
	margin:30px 0px 40px 30px;
}
#register{
	width:640px;
	margin:30px 0px 50px 80px;
}
#register h1{
	margin:30px 0px 40px 26px;
}
#register span{
	margin-left:5px;
}
.tips{
	*position:absolute;
	*top:530px;
}
.tips2{
	*position:absolute;
	*top:440px;
}
#pro_img_show p{
	width:250px;
	text-align:center;
	margin-top:20px;
}
#small_show{
	width:250px;
	position:relative;
}
.small_show_list{
	width:240px;
	height:82px;
	overflow:hidden;
	
}
.small_show_list li{
	margin:0px 0px 0px 10px;
	padding:0px;
}
#pro_info,#pro_img_show{
	margin-top:10px;
}
#pro_info{
	margin-left:35px;
	*margin-left:17px;
	width:315px;
}
#pro_info h1,#pro_info h2{
	margin:0px 0px 12px 0px;
	padding:0px;
}
.pro_color dd{
	margin:5px 3px 0px 0px;
	padding:0px;
	height:28px;
}
.pro_color dt,.pro_size dt{
	margin-top:12px;
	*margin-top:15px;
}
.pro_size{
	margin-top:50px;
}
.pro_size dd{
	width:40px;
	margin:5px 3px 0px 0px;
	padding:0px;
	text-align:center;
	padding:3px 0px 3px 0px;
	cursor:pointer;
}
.pro_size_how{
	padding:30px 0px 0px 230px;
	*padding:3px 0px 0px 230px;
}
.checkin_info dt{
	padding:10px 0px 0px 10px;
	*margin:-18px 0px 0px -1px;
}
#checkin_info_mun{
	margin:5px 5px 0px 10px;
}
#checkin_info_color{
	margin:8px 5px 0px 10px;
	*margin:13px 5px 0px 10px;
}
#checkin_info_size{
	margin:8px 5px 0px 10px;
	*margin:13px 5px 0px 10px;
}
#checkin_info_price{
	margin:8px 5px 0px 10px;
	*margin:13px 5px 0px 10px;
}
.pro_size_table{
	width:280px;
}
.pro_attribute{
	width:290px;
}
.pro_size_table,.pro_attribute{
	height:100px;
	padding:10px;
	margin-top:20px;
}
.pro_attribute{
	margin-left:35px;
	*margin-top:25px;
}
.pro_size_table div,.pro_attribute div{
	overflow-y:scroll;
	height:70px;
}
.pro_size_table td{
	width:125px;
	margin:4px 0px 4px 0px;
	padding:0px;
}
.pro_attribute_01{
	width:80%;
	text-align:left;
}
.other_info{
	padding-top:20px;
}
.other_info h1{
	padding-bottom:5px;
}
.other_info p{
	text-indent:1.5em;
	line-height:1.5em;
	padding:0px;
	margin:0px;
}
#ct_mod05{
	width:120px;
	margin-left:10px;
}
#ct_mod05 ul{
	margin:0px 0px 20px 0px;
	padding:0px 10px 0px 20px;
}
#ct_mod05 ul li{
	padding:0px 0px 5px 0px;
}
.bgstyle01_mid h1{
	margin:0px 40px 0px 40px;
	padding-bottom:5px;
}
.bgstyle01_mid p,.mycart_h3{
	padding:2px 0px 0px 60px;
	background:url(../images/exhk/ico_tips.gif) no-repeat 40px 0px;
	height:18px;
	margin-top:6px;
}
.order_h2{
	margin:0px 40px 0px 0px;
	padding-bottom:5px;
}
.order_h3{
	background:url(../images/exhk/ico_tips.gif) no-repeat 0px 0px;
	height:18px;
	padding:2px 0px 0px 20px;
	margin-top:6px;
}
.bgstyle01_mid div{
	margin-bottom:50px;
}
.mycart_h2{
	margin:0px 40px 0px 40px;
	padding-bottom:5px;
}
.style03{
	margin-left:40px;
}
.style04 img{
	width:50px;
	height:50px;
	border:none;
}
.style05 td{
	padding:5px 20px 5px 8px;
}
.style06 td{
	padding:5px 20px 5px 10px;
}
.bgstyle01_mid h5{
	margin:0px 40px 40px 40px;
	padding-top:10px;
	text-align:right;
}
.order_style{
	margin:20px 0px 0px 40px;
	border-collapse:collapse;
	width:720px;
	text-align:left;
}
.page_style{
	margin:0px 0px 20px 40px;
	border-collapse:collapse;
	width:720px;
	text-align:right;
}
.big{
	margin:20px 0px 20px 205px;
}
.user_title{
	margin:0px 0px 10px 15px;
}
.bgstyle01_mid ul{
	list-style:none;
}
.style05{
	margin:10px 40px 0px -38px;
	*margin:10px 40px 0px 1px;
}
.style05 li,.style06 li{
	margin-bottom:10px;
}
.style06{
	margin-right:40px;
}
.exhk_adlist,#ct_mod02_new,.ct_mod03_style02,#ct_mod02_recommend{
	clear:both;
}
.exhk_tel{
	width:230px;
	height:440px;
}
.exhk_adlist{
	list-style:none;
	margin:0px;
	*margin:-15px;
	padding:0px;
}
.exhk_adlist01{
	padding-right:17px;
}
.ct_mod01_style02{
	margin-top:7px;
}
#classification{
	margin-bottom:10px;
}
.ct_mod03_style02 ul li{
	list-style:none;
	padding-right:10px;
}
.fot_tel{
	background:url(../images/exhk/fot_tool_bg.jpg) no-repeat;
	width:980px;
	height:105px;
}
#footer{
	margin-top:20px;
}
#screen{
	margin-bottom:50px;
}
.style_20 li{
	margin-top:10px;
	margin-right:30px;
}
.exhk_info01{
	margin-left:70px;
}
.exhk_info02{
	margin-left:70px;
}
.exhk_info04{
	margin-left:70px;
}
.exhk_info05{
	margin-left:70px;
}
.exhk_info06{
	margin-left:48px;
}
.exhk_info07{
	margin-left:50px;
}
.exhk_info08{
	margin-left:50px;
}
.exhk_info09{
	margin-left:70px;
}
.exhk_info10{
	margin-left:45px;
}
.exhk_info11{
	margin-left:77px;
}
.exhk_info12{
	margin-left:55px;
}
.exhk_info13{
	margin-left:53px;
}
.exhk_info14{
	margin-left:90px;
}
.exhk_info15{
	margin-left:65px;
}
.success_img,.error_img{
	margin:30px 0px 0px 200px;
	*margin:40px 0px 0px 200px;
}
.success_img02{
	margin:30px 0px 0px 180px;
}
.success_title{
	margin:70px 0px 0px 20px;
}
.success_title02{
	margin:50px 0px 0px 20px;
}
.success_title02 img{
	padding-top:20px;
	margin-left:-1px;
}
.error_title{
	width:300px;
	margin:70px 0px 0px 20px;
	*margin:90px 0px 0px 20px;
}
.address_database{
	width:700px;
	word-break:break-all;
	line-height:150%;
	padding-bottom:25px;
}
.address_form{
	margin-top:-20px;
}
.activity{
	margin-left:10px;
}
/***************表单****************************/
.exhk_search02{
	width:39px;
}
.ct_mod04_order{
	margin-left:300px;
	margin-top:-4px;
	*margin-top:-6px;
}
.ct_mod04_order02{
	margin:5px 5px 0px 450px;
}
.ct_mod04_page02 cite{
	margin:0px 3px 0px 3px;
}
label{
	display:block;
	margin:30px 0px 10px 30px;
}
#logoin button{
	background:url(../images/exhk/exhk_logoin.jpg) no-repeat;
	width:105px;
	height:46px;
	border:none;
	cursor:pointer;
	margin:20px 0px 30px 76px;
}
#register button{
	background:url(../images/exhk/exhk_register.jpg) no-repeat;
	width:122px;
	height:49px;
	border:none;
	cursor:pointer;
	margin:20px 0px 30px 112px;
}
.username,.userpassword,.userpassword2{
	width:150px;
}
.checkin_info input{
	width:20px;
}
#but_shopping{
	background:url(../images/exhk/54904603.jpg) no-repeat;
	width:103px;
	height:44px;
	border:none;
	cursor:pointer;
	margin:10px 0px 9px 50px;
	*margin:10px 0px -10px 50px;
}
#shopping_cart{
	background:url(../images/exhk/816060.jpg) no-repeat;
	width:106px;
	height:44px;
	border:none;
	cursor:pointer;
	*margin:5px 50px -10px 0px;
}
.bgstyle01_mid form{
	margin-left:40px;
}
.address_text{
	width:400px;
}
.button01{
	background:url(../images/exhk/btn_do02.jpg) no-repeat;
	width:101px;
	height:45px;
	cursor:pointer;
	border:none;
	margin:20px 0px 0px 110px;
}
.bgstyle01_mid textarea{
	margin-left:5px;
}
#style02{
	margin-left:80px;
}
.my_cart_01{
	width:100%;
	border:1px solid #000;
}
.do_shopping{
	background:url(../images/exhk/do_shopping.jpg) no-repeat;
	width:102px;
	height:45px;
	cursor:pointer;
	border:none;
	margin-left:12px;
}
.do_shopping2{
	background:url(../images/exhk/do_shopping2.jpg) no-repeat;
	width:107px;
	height:45px;
	cursor:pointer;
	border:none;
	margin-left:520px;
}
.ok{
	background:url(../images/exhk/ok.jpg) no-repeat;
	width:104px;
	height:45px;
	cursor:pointer;
	border:none;
	margin:20px 0px 0px 165px;
}
.my_search{
	height:15px;
	margin:5px 5px 0px 100px;
	border:none;
}
.my_search_btn{
	background:url(../images/exhk/my_search_bg2.jpg) no-repeat 0 -3px;
	*background:url(../images/exhk/my_search_bg2.jpg) no-repeat 0 0;
	width:57px;
	height:20px;
	cursor:pointer;
	border:none;
}
/*********************链接、字体、图片************************************************************/
.exhk_hd_logo img,#play_img img,#ct_mod03_ad img,#ct_mod02_new img,#ct_mod02_recommend img,.ct_mod03_style02 img
,.exhk_footer_other img,.ct_mod04_pro_show img,.ct_mod04_pro_show02 img,.pro_color img,.exhk_nav03 img,.exhk_nav04 img,.a_style_tel img,.a_style_qq img
,.exhk_adlist img,.fot_tel img,.success_title02 img,.style_20 img,.exhk_tel img,.invite_bt img{
	border:0px;
}
.activity img{
	vertical-align:top;
}
.fot_tel img{
	margin-top:55px; 
	margin-left:120px;
}
.fot_420{
	margin-right:20px;
}
.exhk_hd_logo{
	margin-left:10px;
}
.ct_mod04_pro_show_img img,#ct_mod02_new img,#ct_mod02_recommend img{
	width:150px;
	height:113px;
}
#big_show img{
	width:300px;
	height:225px;
}
.small_show_list img{
	width:68px;
	height:51px;
	cursor:pointer;
}
.style_20 img{
	margin-top:20px;
}
.small_show_arrow_l{
	background:url(../images/exhk/gleft.gif) no-repeat;
	width:6px;
	height:11px; 
	cursor:pointer;
	position:absolute;
	top:25px;
}
.small_show_arrow_r {
	background:url(../images/exhk/gright.gif) no-repeat;
	width:6px;
	height:11px;
	cursor:pointer;
	position:absolute;
	top:25px;
	left:250px;
}
.pro_color img{
	width:28px;
	height:28px;
}
.bgstyle01_hd{
	background:url(../images/exhk/bgstyle01_hd.jpg) no-repeat;
	width:800px;
	height:27px;
}
.bgstyle01_mid{
	background:url(../images/exhk/bgstyle01_mid.jpg) repeat-y;
	width:800px;
	overflow:hidden;
}
.bgstyle01_ft{
	background:url(../images/exhk/bgstyle01_ft.jpg) no-repeat;
	width:800px;
	height:30px;
}
.ct_mod03_style02 h3 img{
	width:150px;
	height:113px;
}
.display_none{
	display:none;
}
.a_style01,.exhk_current,.a_style02,.a_style03,.a_style04,.a_style02:hover,.a_style03:hover,.a_style04:hover,.a_style05
,.a_style05:hover,.a_style06,.a_style06:hover,.a_style07,.a_style07:hover,.a_style09,.a_style12,.a_style12:hover,.a_style13,.a_style19,.a_style19:hover{
	text-decoration:none;
}
.a_style01:hover,.a_style09:hover{
	text-decoration:underline;
}
.a_style06,.a_style06:hover{
	font-weight:bolder;
}
.a_style07{
	font-weight:normal;
	margin-left:650px;
}
.a_style12:hover{
	padding:10px 27px 9px 26px;
	*padding:10px 27px 10px 26px;
}
.a_style19{
	padding-left:10px;
	padding-right:3px;
}
.a_style_tel:hover{
	background:url(../images/exhk/exhk_tel_on.jpg) no-repeat;
	display:block;
}
#ct_mod02_new img,#ct_mod02_recommend img{
	margin-left:0px;
}
.ct_mod03_style01 img{
	margin:8px 0px 8px 0px;
}
#ct_mod04 em,#ct_mod04 cite,#ct_mod02_new em,#ct_mod02_recommend em,.ct_mod04_pro_show cite,#pro_info em,#pro_info cite,.page_style td cite,.exhk_shopping em{
	font-style:normal;
}
#ct_mod04 h1,.ct_mod03_style02 h2,.ct_mod01_commentary em,.ct_mod04_pro_show h4,.ct_mod04_pro_show02 h4,#pro_info h2,#pro_info h1,.pro_size_table h1,.por_attribute h1,.order_h3,.mycart_h3{
	font-weight:normal;
}
#play_num{
	font-size:10px;
}
.exhk_hd_tool,.exhk_hd_tel,.exkh_nav,.exkh_nav h1,#ct_mod01 ul h2,.a_style07,.ct_mod03_style01 p,.exhk_help h1,.ct_mod01_classification,.welcome,.ct_mod_title03,.ct_mod03_style02 h3,.ct_mod03_style02 h2
,.ct_mod01_style02 ul,.ct_mod01_commentary,#ct_mod02_new ul,#ct_mod02_recommend ul,.ct_mod03_style02 ol,.exhk_help,#footer p,.ct_mod04_position h1
,.ct_mod04_position div,.ct_mod04_position div select,.ct_mod04_pro_show,.ct_mod04_pro_show02,.ct_mod04_pro_show h4,.ct_mod04_pro_show02 h4,.ct_mod04_order02,.ct_mod04_page02,.ct_mod04_order02 selcet,#logoin h1,#logoin,label,#pro_img_show p,#pro_info h2,.pro_color,.pro_size
,.pro_size_table h1,.checkin_info,.pro_size_table,.pro_attribute,.pro_attribute h1,.other_info h1,.other_info p,#pro_info cite,#register,#register h1,#ct_mod05,#ct_mod05 h1,.bgstyle01_mid p,.order_h3,.mycart_h3,.style03,.style03 h4,.bgstyle01_mid,.bgstyle01_mid h5,.user_title,.ct_mod_title01,.ct_mod_title02
,.exhk_help01,.exhk_shopping em,.font_style{
	font-size:12px;
}
#ct_mod02_new h1,#ct_mod02_recommend h1,#pro_info h1,.bgstyle01_mid h1,.order_h2,.mycart_h2,.ct_mod03_style02 h1,.success_tip{
	font-size:14px;
}
.exhk_hd_tel h1,.success_title{
	font-size:30px;
}
.success_title,.success_title02,.error_title{
	font-size:24px;
}
.ct_mod04_list_show_price strike,#ct_mod02_new strike,#ct_mod02_recommend strike{
	margin-left:5px;
}
.ct_mod04_pro_show h4,.ct_mod04_pro_show02 h4,#pro_info em{
	text-decoration:line-through;
}
.ct_mod04_pro_show h4,.ct_mod04_pro_show02 h4{
	display:inline;
	margin:0px 0px 0px 5px;
}
/***************************颜色***********************************/
.exhk_hd_tel,.welcome,.a_style06,.ct_mod01_style02,.ct_mod01_commentary,.a_style07,#ct_mod02_new,#ct_mod02_recommend
,.ct_mod03_style01 p,.ct_mod03_style02 h2,.exhk_help h1,#footer p,#ct_mod04 h1,.ct_mod04_pro_show,.ct_mod04_pro_show02,.ct_mod04_pro_show h4,.ct_mod04_pro_show02 h4
,#pro_info h2,.pro_color,.pro_size,.checkin_info,.pro_size_table h1,.checkin_info,.pro_size_table,.pro_attribute,.pro_attribute h1{
	color:#666;
}
.exhk_search,.play_num_on,.play_num_off,#ct_mod03_ad li,.exhk_search02,.ct_mod03_style01 img{
	border:1px solid #D7C595;
}
.a_style05:hover,.a_style06:hover,.play_num_off,.a_style07:hover,.ct_mod_title03,#ct_mod04 span,.a_style09,#ct_mod02_new span,#ct_mod02_recommend span,.ct_mod04_pro_show em,.ct_mod04_pro_show02 em,#pro_info cite
,.a_style13,.red,.big,.a_style13:hover{
	color:#F95900;
}
.exhk_hd_tel h1,.ct_mod_title01,#ct_mod01 ul h2,.a_style05,#ct_mod02_new h1,#ct_mod02_recommend h1,.ct_mod_title02,.other_info h1,.a_style01
,.ct_mod03_style02,.a_style19,.a_style02,.a_style03,.a_style04,.success_tip{
	color:#663300;
}

.exhk_current,.a_style02:hover,.a_style03:hover,.a_style04:hover,.a_style03:hover,.a_style04:hover,.play_num_on,.a_style12,.a_style13,.a_style19:hover,.a_style01:hover{
	color:#F95900;
}
.play_num_on,.a_style12:hover{
	background-color:#E37A99;
}
.ct_mod04_pro_show,.ct_mod04_pro_show02,.pro_size_table td,.address_database{
	border-bottom:1px dotted #666;
}
#ct_mod02_new h1,#ct_mod02_recommend h1,.other_info h1,.bgstyle01_mid h1,.order_h2,.mycart_h2,.ct_mod03_style02 h1{
	border-bottom:2px solid #FFAD03;
}
#screen .ct_mod04_position{
	border-bottom:1px solid #E37A99;
}
.ct_mod04_pro_show li,.exhk_help01{
	border-right:1px dotted #666;
}
#logoin,.checkin_info,#register{
	background-color:#F9F6ED;
	border:1px solid #666;
}
#big_show img,.small_show_list img,.pro_color img,.pro_size dd,.pro_size_table,.pro_attribute{
	border:1px solid #999;
}
#small_show_current,#color_current{
	border:1px solid #FFAD03;
}
.pro_color,.pro_size,.bgstyle01_mid h5{
	border-top:1px dotted #666;
}
#ct_mod05{
	border-right:1px dotted #666;
	border-bottom:1px dotted #666;
}
.order_style tr,.order_style td,.order_style th,.page_style td{
	border:1px solid #D8D8D8;
	padding:5px;
}
.order_style th{
	background-color:#F9F9F9;;
}
.a_style13{
	color:#fff;
}
.success_title,.success_title02{
	color:#ff0000;
}
.error_title{
	color:#7A7B80;
}
.a_style20{
	color:#000;
	text-decoration:none;
}
.a_style20:visited{
	color:#000;
}
.a_style20:hover{
  color:#0066FF;
	text-decoration:none;
}
.a_style20:actived{
	color:#0066FF;
}
