<img src="#imageServer('exhk/success.jpg')" alt="支付成功" class="success_img"/>
<h1 class="success_title02">
    恭喜您下单成功!
    <br/>
    <a href="#cowApp("order/pay?orderId=${tradeOrderVO.id}")" target="_blank">
        <img src="#imageServer('exhk/do_pay.jpg')" alt="立即去支付"/>
    </a>
    <a href="#cowApp('member/orderList')">
        <img src="#imageServer('exhk/out_pay.jpg')" alt="稍后去支付"/>
    </a>
</h1>
