<div id="ct_mod05">
	<ul>
		<li><a href="#cowApp('alliance/AlliedLogin/login')" class="a_style01">联盟会员登录</a></li>
		<li><a href="#cowApp('alliance/AlliedMember/register')" class="a_style01">注册联盟会员</a></li>
		<li><a href="#cowApp('alliance/joinProcess')" class="a_style01">加盟流程</a></li>
		<li><a href="#cowApp('alliance/joinProtocol')" class="a_style01">加盟协议</a></li>
		<li><a href="#cowApp('alliance/AlliedLogin/doLoginout')" class="a_style01">加盟收益</a></li>
		<li><a href="#cowApp('alliance/joinCondition')" class="a_style01">加盟条件</a></li>
		<li><a href="#" class="a_style01">联盟会员</a></li>
	</ul>
 </div>
