#set($news = $indexVO.getNews())
#set($recommends = $indexVO.getRecommends())
#set($hots = $indexVO.getHots())


<div id="ct_mod02">
                    <div id="ct_mod02_flash">
                        <div id="ct_mod02_play">
                            <div id="play_img">
                                <a href="#"><a href="#"><div align="center">
<SCRIPT>
var roll_image = new Array;
var image_link = new Array;
var small_img = new Array;

roll_image[0] = "#imageServer('exhk/free.jpg')";
image_link[0] = '#cowApp('product/productList?categoryId=8')';
small_img[0] = "#imageServer('exhk/main_flash_button1_on.gif')";

roll_image[1] = "#imageServer('exhk/invite_banner.jpg')";
//image_link[1] =  "#cowApp('product/productDetail?id=125')";

image_link[1] =  "#cowApp('member/activeInvite')";
small_img[1] = "#imageServer('exhk/main_flash_button2_on.gif')";

roll_image[2] = "#imageServer('exhk/03.jpg')";
image_link[2] =  "#cowApp('product/productDetail?id=112')";
small_img[2] = "#imageServer('exhk/main_flash_button3_on.gif')";

roll_image[3] = "#imageServer('exhk/04.jpg')";
image_link[3] =  "#cowApp('product/productDetail?id=95')";
small_img[3] = "#imageServer('exhk/main_flash_button4_on.gif')";

roll_image[4] = "#imageServer('exhk/05.jpg')";
image_link[4] =  "#cowApp('product/productDetail?id=94')";
small_img[4] = "#imageServer('exhk/main_flash_button5_on.gif')";

roll_image[5] = "#imageServer('exhk/06.jpg')";
image_link[5] =  "#cowApp('product/productDetail?id=113')";
small_img[5] = "#imageServer('exhk/main_flash_button6_on.gif')";

roll_image[6] = "#imageServer('exhk/07.jpg')";
image_link[6] =  "#cowApp('product/productDetail?id=108')";
small_img[6] = "#imageServer('exhk/main_flash_button7_on.gif')";

var cliImg = '';
var cliImgSrc = '';
var imgNo = Math.round(Math.random() * 7);

var interval = 5000;
var setTime = '';

function click_simg(ci, no){
	
	 if(cliImg == '') 
	 {
		  cliImg = ci;
		  cliImgSrc = ci.src;
		  ci.src = small_img[no];
		  imgNo=no;
		  document.getElementById("bigimg").src =roll_image[no];
		  document.getElementById("imglink").href = image_link[no];
		  if(no==1)
		  {
		  	document.getElementById("imglink").target="_blank";
		  }
		  else
    	 {
    	 	document.getElementById("imglink").target="_self";
    	 }
	 } 
	 else if(cliImg != ci) {
		  cliImg.src = cliImgSrc;
		  cliImg = ci;
		  cliImgSrc = ci.src;
		  ci.src = small_img[no];
		  imgNo=no;
		  document.getElementById("bigimg").src =roll_image[no];
		  
		  document.getElementById("imglink").href = image_link[no];
		  if(no==1)
		  {
		  	document.getElementById("imglink").target="_blank";
		  }
		  else
    	 {
    	 	document.getElementById("imglink").target="_self";
    	 }
	 }
	clearTimeout(setTime);
	 setTime=setTimeout("rotate()",interval);
}



function setTransition()
{ 
	if (document.all)
	{ 
		document.getElementById("bigimg").filters[0].Transition=Math.floor(Math.random()*23); 
		document.getElementById("bigimg").filters[0].apply(); 
	} 
} 

function playTransition()
{ 
	if (document.all) //表示ie
	{
		document.getElementById("bigimg").filters[0].play(); 
	}
	
}


function rotate(){
	
	 imgNo = (imgNo >= 6) ? 0 : imgNo+1;
	 var ci = document.getElementById('num_img'+imgNo);
	
	 //document.getElementById("bigimg").filters.blendTrans.apply();
	 
	 setTransition(); 
		
	 document.getElementById("imglink").href=image_link[imgNo];
	 document.getElementById("bigimg").src=roll_image[imgNo];
	 if(imgNo==1)
	 {
	  	document.getElementById("imglink").target="_blank";
	 }
	 else
	 {
	 	document.getElementById("imglink").target="_self";
	 }
	 playTransition(); 

	 //document.getElementById("bigimg").filters.blendTrans.play();

	 if(cliImg == '')
	 {
		  cliImg = ci;
		  cliImgSrc = ci.src;
		  ci.src = small_img[imgNo];
	 } 
	 else if(cliImg != ci) 
	 {
		  cliImg.src = cliImgSrc;
		  cliImg = ci;
		  cliImgSrc = ci.src;
		  ci.src = small_img[imgNo];
	 }

 setTime=setTimeout("rotate()",interval);
}

//-->
</SCRIPT>
<TABLE cellSpacing=0 cellPadding=0 width=520 border=0>
  <TBODY>
    <TR>
      <TD height=338>
<A onfocus=this.blur() href="#" name=imglink id="imglink">
	<IMG  src="#imageServer('exhk/free.jpg')" height=427  style="FILTER: revealTrans(duration=2,transition=20);" width=520 border=0 name="bigimg" id="bigimg">    

 </TD>
    </TR>
    <TR>
      <TD height=27><TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
        <TBODY>
          <TR>
            <TD width=3></TD>
            <TD width=61><IMG style="CURSOR: hand" 
                        onclick="click_simg(this, 0);" height=15 
                        src="#imageServer('exhk/main_flash_button1.gif')" width=61 
                        border=0 name=num_img0 id="num_img0"> </TD>
            <TD width=3></TD>
            <TD width=61><IMG style="CURSOR: hand" 
                        onclick="click_simg(this, 1);" height=15 
                        src="#imageServer('exhk/main_flash_button2.gif')" width=61 
                        border=0 name=num_img1 id="num_img1"></TD>
            <TD width=3></TD>
            <TD width=61><IMG style="CURSOR: hand" 
                        onclick="click_simg(this, 2);" height=15 
                        src="#imageServer('exhk/main_flash_button3.gif')" width=61 
                        border=0 name=num_img2 id="num_img2"></TD>
            <TD width=3></TD>
            <TD width=61><IMG style="CURSOR: hand" 
                        onclick="click_simg(this, 3);" height=15 
                        src="#imageServer('exhk/main_flash_button4.gif')" width=61 
                        border=0 name=num_img3 id="num_img3"></TD>
            <TD width=3></TD>
            <TD width=61><IMG style="CURSOR: hand" 
                        onclick="click_simg(this, 4);" height=15 
                        src="#imageServer('exhk/main_flash_button5.gif')" width=61 
                        border=0 name=num_img4 id="num_img4"></TD>
            <TD width=3></TD>
            <TD width=61><IMG style="CURSOR: hand" 
                        onclick="click_simg(this, 5);" height=15 
                        src="#imageServer('exhk/main_flash_button6.gif')" width=61 
                        border=0 name=num_img5 id="num_img5"></TD>
            <TD width=3></TD>
            <TD width=61><IMG style="CURSOR: hand" 
                        onclick="click_simg(this, 6);" height=15 
                        src="#imageServer('exhk/main_flash_button7.gif')" width=61 
                        border=0 name=num_img6 id="num_img6"></TD>
            <TD 
              width=72></TD>
          </TR>
        </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<p>
  <SCRIPT>rotate();</SCRIPT>
  <br>
  
<p align="center"></p>
<p align="center"></p>
<p align="center"></p>
</div></a>
                            </div>
                            <div class="exhk_tel">
                                <a href="#cowApp('alliance/joinProtocol')" target="_blank"><img src="#imageServer('exhk/jiam.jpg')" alt="爱可幼品网站加盟"/></a>
                            </div>
                            <ul class="exhk_adlist">
                                <li class="exhk_adlist01">
                                    <a href="#cowApp("product/productDetail?id=112")" target="_blank"><img src="#imageServer('exhk/exhk_adlist01.jpg')" width="246" height="186" alt=""/></a>
                                </li>
                                <li class="exhk_adlist01">
                                    <a href="#cowApp("product/productDetail?id=94")" target="_blank"><img src="#imageServer('exhk/exhk_adlist02.jpg')" width="246" height="186" alt=""/></a>
                                </li>
                                <li>
                                    <a href="#cowApp("product/productDetail?id=108")" target="_blank"><img src="#imageServer('exhk/exhk_adlist03.jpg')" width="246" height="186" alt=""/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="ct_mod02_new">
                        <h1>新品上市</h1>
                        #foreach($new in $news)
                        <ul>
                            <li><a href="#cowApp("product/productDetail?id=$new.getId()")">
                                <img src="#productImageServer("$new.getSumCoverImgName()")" alt=""/></a>
                            </li>
                            <li><a href="#cowApp("product/productDetail?id=$new.getId()")" class="a_style01">$new.getName()</a></li>
                            <li>爱可价<span>￥$new.getMyPrice()</span><strike>市场价<em>￥$new.getMarketPrice()</em></strike></li>
                        </ul>
                        #end
                    </div>
                    <div id="ct_mod02_recommend">
                        <h1>爱可推荐</h1>
                        #foreach($rec in $recommends)
                        <ul>
                            <li><a href="#cowApp("product/productDetail?id=$rec.getId()")">
                                <img src="#productImageServer("$rec.getSumCoverImgName()")" alt=""/></a></li>
                            <li>
                                <a href="#" class="a_style01">$rec.name</a>
                            </li>
                            <li>爱可价<span>￥$rec.getMyPrice()</span><strike>市场价<em>￥$rec.getMarketPrice()</em></strike></li>
                        </ul>
                        #end
                    </div>
                    <div class="ct_mod03_style02">
                        <h1>销量排行</h1>
                        <ul>
                            #foreach($hot in $hots)
                            <li><h3><a href="#cowApp("product/productDetail?id=$hot.getId()")">
                                <img src="#productImageServer("$hot.getSumCoverImgName()")" alt=""/></a></h3>
                                <h2>${velocityCount}.<a href="#cowApp("product/productDetail?id=$hot.getId()")" class="a_style01">$hot.name</a></h2>
                            </li>
                            #end
                        </ul>
                    </div>
                </div>