<style type="text/css">
<!--
a:hover {
	color: #0066FF;
	text-decoration: underline;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.STYLE1 {
	font-size: 14px;
	font-weight: bold;
}
-->
</style>
<script type="text/JavaScript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>

<form action="#cowApp('member/doEmail')" name="emailInviteForm" method="post">

<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
	<h2 class="big">#actionMessages()#actionErrors()</h2>
	<h1>
		Email邀请好友
	</h1>
	
	<br />
	<br />
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="#imageServer('exhk/back.gif')" align="absbottom" />
		<a href="#cowApp('member/invite')" class="a_style01">返回邀请首页</a>
	</div>
	<div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="STYLE1">通过Email邀请朋友加入</span>
	</div>
		
		<div align="left">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对方Email:
			<br />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<textarea cols="35" name="invitePO.email" rows="10">$!{invitePO.email}</textarea>
			<div align="left">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="#imageServer('exhk/email.jpg')" />
			</div>
		</div>
		<div align="left">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邀请留言:
			<br />
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<textarea cols="35" name="invitePO.guestBook" rows="10">我刚刚在爱可幼品网站注册会员，为宝宝购买了不少服饰，觉得挺不错的，你可以去试试，现在注册会员即得10元爱可礼金哦，可以登录爱可网站www.aike.hk使用其购买任意一种产品，另外联盟会员也在火热进行中</textarea>
			<br><br><br>		
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您的姓名：
			<input name="invitePO.inviteName" type="text" class="username" value="$!invitePO.inviteName"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你们的关系：
			<select id="invitePO.relation" name="invitePO.relation">
				<option value="">
					-请选择-
				</option>
				<option value="普通朋友">
					普通朋友
				</option>
				<option value="挚交好友">
					挚交好友
				</option>
				<option value="家人亲属">
					家人亲属
				</option>
				<option value="现在同事">
					现在同事
				</option>
				<option value="以前同事">
					以前同事
				</option>
				<option value="大学同学">
					大学同学
				</option>
				<option value="高中同学">
					高中同学
				</option>
				<option value="其他">
					其他
				</option>
			</select>
		</div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#" onclick="submitForm()" onmouseout="MM_swapImgRestore()"
		onmouseover='MM_swapImage("Image8","","#imageServer('exhk/yaoqing.jpg')",1)'><img
			src="#imageServer('exhk/yaoqing1.jpg')" name="Image8" width="79"
			height="25" border="0" id="Image8" />
	</a>
</div>

<div class="bgstyle01_ft"></div>
</form>


<script type="text/javascript">
function submitForm() 
{ 
    document.emailInviteForm.submit();
}

function init(eId,value) {
	if(value!="")
	{
		var select = document.getElementById(eId);
        var options = select.options;
        for(i = 0; i <= options.length; i++) {
            if(options[i].value == value) {
                options[i].selected = true;
                break;
            }
        }
	}
    
}
init("invitePO.relation","$!invitePO.relation");
</script>


