#set($memberSession = $session.getAttribute("__MEMBER__SESSION__"))
#set($order = $detailVO.tradeOrder)
#set($orderProducts = $detailVO.orderProducts)
#set($delivery = $detailVO.delivery)
#set($payment = $detailVO.payment)

<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>订单详情</h1>
    <div>
        <table class="order_style">
            <tr class="order_style02">
                <th colspan="4">用户详情</th>
            </tr>
            <tr>
                <td class="bgstyle_02">用户名</td>
                <td>$memberSession.name</td>
                <td>Email地址</td>
                <td>$memberSession.loginId</td>
            </tr>
            <tr>
                <td class="bgstyle_02">收货人</td>
                <td>$order.name</td>
                <td>手机</td>
                <td>$order.mobile</td>
            </tr>
            <tr>
                <td class="bgstyle_02">收货人省份</td>
                <td>$order.province</td>
                <td>收货人地址</td>
                <td>$order.address</td>
            </tr>
            <tr>
                <td class="bgstyle_02">收货人邮编</td>
                <td>$order.zipcode</td>
                <td>固定电话</td>
                <td>$order.telphone</td>
            </tr>
        </table>
    </div>
    <div>
        <table class="order_style">
            <tr class="order_style02">
                <th colspan="4">订单详情</th>
            </tr>
            <tr>
                <td class="bgstyle_02">订单</td>
                <td>$order.id</td>
                <td>备注信息</td>
                <td>$order.memo</td>
            </tr>
            <tr>
                <td class="bgstyle_02">配送方式</td>
                <td>$delivery.name</td>
                <td>下单时间</td>
                <td>$order.gmtCreated</td>
            </tr>
            <tr>
                <td class="bgstyle_02">订单状态</td>
                <td>$order.status.getMessage()</td>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
    <div>
        <table class="order_style">
            <tr class="order_style02">
                <th colspan="4">订单金额</th>
            </tr>
            <tr>
                <td class="bgstyle_02">订单金额</td>
                <td>$order.totalPrice</td>
                <td>货款</td>
                <td>$order.productPrice</td>
            </tr>
            <tr>
                <td class="bgstyle_02">运费</td>
                <td>$delivery.price</td>
                <td>支付方式</td>
                <td>${payment.name}
				#if($order.paymentPrice!=0)
					/爱可支付
				#end
				</td>
            </tr>
        </table>
    </div>
    <div>
        <table class="order_style">
            <tr class="order_style02">
                <th>序号</th>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>颜色</th>
                <th>尺寸</th>
                <th>数量</th>
                <th>单价</th>
            </tr>
            #foreach($orderProduct in $orderProducts)
            <tr>
                <td class="bgstyle_02">${velocityCount}</td>
                <td>$orderProduct.productId</td>
                <td>
                    <a href="#cowApp("product/productDetail?id=${orderProduct.productId}")" class="a_style01">$orderProduct.name</a>
                </td>
                <td>$orderProduct.color</td>
                <td>$orderProduct.size</td>
                <td>$orderProduct.amount</td>
                <td>$orderProduct.price</td>
            </tr>
            #end
        </table>
    </div>
</div>
<div class="bgstyle01_ft"></div>