#set($memberSession = $session.getAttribute("__MEMBER__SESSION__"))

<style type="text/css">
<!--
.STYLE1 {
	font-size: 14px;
	font-weight: bold;
}
-->
</style>
<script type="text/JavaScript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<form action="" name="qqMsnInviteForm">
<div class="bgstyle01_hd"></div>
	<div class="bgstyle01_mid">
		<h1>
			QQ、MSN邀请好友
		</h1>
		<br />
		<br />
		<div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="#imageServer('exhk/back.gif')" align="absbottom" />
			<a href="#cowApp('member/invite')" class="a_style01">返回邀请首页</a>
		</div>
		<div>
			<div align="left">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="STYLE1">复制此邀请链接地址，用QQ、MSN等发送给你的朋友；</span>
				<br />
			</div>
			<label class="exhk_info06">
				爱可邀请链接：
                
					<input type="text" name="aikeUrl" class="address_text" value="#cowApp('member/register')?memberId=$memberSession.id"/>
				
				
				<a href="javascript:" onclick="copyToClipboard()" onmouseout="MM_swapImgRestore()"
            		onmouseover='MM_swapImage("Image8","","#imageServer('exhk/ad_copy.jpg')",1)'>
					<img src="#imageServer('exhk/ad_copy_2.jpg')" name="Image8" 
            			height="25" border="0" id="Image8" />
            	</a>
			</label>
		</div>
	</div>
	<div class="bgstyle01_ft"></div>
</form>
<script>
	function copyToClipboard() 
    { 
	  document.qqMsnInviteForm.aikeUrl.select();
      var aikeUrl=document.qqMsnInviteForm.aikeUrl.value; 
      window.clipboardData.setData('text', aikeUrl); 
    } 
</script>


