<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
	<h1>加盟条件</h1>
	<ul>
		 <li>·网站加盟条件：
            <br />1、宣扬色情 暴力 种族 性 宗教 以及对残疾和年龄歧视的网站不得加盟；
            <br />2、非法网站不得加盟；
            <br />·网店加盟条件：
            <br />
            1、淘宝店，易趣，拍拍无加盟要求。
            <br />
		  </li>
	 </ul>
</div>
<div class="bgstyle01_ft"></div>
