	<style type="text/css">
    <!--
    .STYLE1 {
    	color: #003399;
    	font-weight: bold;
    }
    .STYLE2 {color: #990000}
    .STYLE3 {color: #663300}
    -->
    </style>
	<div class="bgstyle01_hd"></div>
	<div class="bgstyle01_mid">
		<h1>联盟首页</h1>
		<ul>
    		<li>
    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			<span class="STYLE1"><span class="STYLE3">我们是来自香港的品牌，自主研发和生产精品面料、服饰，致力于打造母婴服饰网络第一品牌现寻求有志于在网上</span>
    			<br /> <br /> <span class="STYLE3">
    					开店的各精英们一起合作，共同开发网络市场，共谋发展</span>
    			</span>。
    			<br><br>
    			<strong>·</strong><span class="STYLE2">我们承诺您：零门槛、零风险、零投资，利润可观</span>
    			<br>
    			<br>
    			<strong>·</strong><span class="STYLE2">我们保障您：质量责任由我们来担，利润每月一清</span>
    			<br><br>
    			<strong>·</strong><span class="STYLE2">我们要求您：在网上拥有一片自己的天地（网店、博客、空间等），热衷于为本产品做网络宣传，具有尽心尽责的态度。</span>
    		</li>
    		<br />
    		<br />
			 <li>
              <div align="left"><strong>&nbsp;爱可网站联盟合作方式:</strong><br />
                  <strong>·</strong>在您的网站、网店、博客上推广爱可幼品 <br />
                  <strong>·</strong>根据推广发生的购买金额获取相应比例的推广费用<br />
                  <br />
				  
				  <img src="#imageServer('exhk/1.jpg')" width="141" height="62" />
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  
				  <img src="#imageServer('exhk/pic_Union__r6_c22.jpg')" width="136" height="62" />
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  
				  <img src="#imageServer('exhk/pic_Union__r6_c28.jpg')" width="134" height="62" /></div>
            </li>
		    <li>
              <div align="left"><strong>网店加盟合作流程</strong><img src="#imageServer('exhk/liucheng-1.jpg')" width="730" height="55" /> <br />
              </div>
		    </li>
		    <li>
		      <div align="left"><strong>博客、网站加盟合作流程</strong><img src="#imageServer('exhk/liucheng-2.jpg')" width="730" height="55" /> </div>
	      </li>
		    <li>
              <div align="left">
                <table width="646" height="215" border="1">
                  <tr>
                    <td width="315" height="209" align="left" valign="top" nowrap="nowrap"><br />
                        <strong>爱可幼品联盟优势</strong><br />
                        <br />
                      ■ 商品信息及时、准确；<br />
                        <br />
                      ■ 人员专业，联盟运作经验丰富，行业口碑好，值得信赖；<br />
                      <br />
                      ■ 免费注册，免费加盟，佣金收益行业最高； <br />
                      <br />
                      ■ 业绩记录准确、实时、公正、按时支付不拖欠； <br />
                      <br />
                      ■ 信息反馈及时，良性互动，合作氛围活跃。</td>
                    <td width="315" align="left" valign="top"><br />
                        <strong>常见问题</strong><br />
                        <br />
                      ■  网站加盟及合作步骤<br />
                        <br />
                      ■  我想做代理开个爱可的专卖店可以吗？<br />
                        <br />
                      ■  网店加盟及合作步骤<br />
                        <br />
                      ■  顾客要求退换货怎么办？<br />
                        <br />
                      ■  销售的价格有所规定吗？</td>
                  </tr>
                </table>
              </div>
	        </li>
					<li><a href="#cowApp('alliance/AlliedMember/register')" class="exhk_nav04"><img src="#imageServer('exhk/gif-0783.gif')" /></a></li>
	  </ul>
			</li>
		</ul>
	</div>
	<div class="bgstyle01_ft"></div>
