<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>RaspCTL</title>
    <style>
    </style>
</head>
<body>

    <div id="main">
        <span>RaspCTL</span>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/player">播放器</a></li>
            <li><a href="/file">本地文件</a></li>
            <li><a href="/config">系统配置</a></li>
        </ul>
    </div>

    <div id="plugins">
        <span>RaspCTL Plugins</span>
        <ul>
            <li><a href="/plugins/baidu">百度视频</a></li>
        </ul>
    </div>
</body>
</html>
