##url
#macro(imageServer $path)${cow_http_server}/images/${path}#end
#macro(styleServer $path)${cow_http_server}/styles/${path}#end
#macro(jsServer $path)${cow_http_server}/js/${path}#end

#macro(cowApp $path)${cow_http_server}/${cow_app_name}/${path}#end
#macro(productImageServer $path)${cow_http_server}/images/uploads/${path}#end
#macro(colorImageServer $path)${cow_http_server}/images/uploads/${path}#end
#macro(washingImageServer $path)${cow_http_server}/images/uploads/${path}#end
#macro(linkImageServer $path)${cow_http_server}/images/uploads/${path}#end

##nav style selector
#macro(navStyle $location $currStyle $style)
#if("$request.getServletPath()"=="$location")$currStyle#else$style#end
#end

#macro(fieldError $field)
  #if($fieldErrors.get($field) && $fieldErrors.get($field).size() > 0)
    #foreach($eachError in $fieldErrors.get($field))
      $eachError#if($velocityCount != $fieldErrors.get($field).size());#end
    #end
  #end
#end
#macro(actionErrors)
  #if($actionErrors && $actionErrors.size() > 0)
    #foreach($eachError in $actionErrors)
      $eachError#if($velocityCount != $actionErrors.size());#end
    #end
  #end
#end
#macro(actionMessages)
  #if($actionMessages && $actionMessages.size() > 0)
    #foreach($eachMessage in $actionMessages)
      $eachMessage#if($velocityCount != $actionMessages.size());#end
    #end
  #end
#end
