<form  method="post" name="inviteForm" action="#cowApp('member/inviteType')">
<div class="bgstyle01_hd"></div>
	<div class="bgstyle01_mid">
		<h1>
			邀请朋友加入爱可
		</h1>
		<div>
			<br />
			<br />
			<div align="center">
				<a href="#cowApp('member/emailList')" class="a_style01"><span
					class="STYLE4">>></span>查看您的邀请历史</a>
				<br />
			</div>
			<div align="center">
				<span class="STYLE3"><a href="#" onclick="submitForm(0)"
					class="a_style01">发送邀请链接给朋友</a>
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="STYLE3"><a href="#" onclick="submitForm(1)"
					class="a_style01">通过Email邀请</a>
				</span>
				<br />
				<br />
				用
				<img src="#imageServer('exhk/qq.gif')" align="absbottom" />
				<img src="#imageServer('exhk/h_msn.gif')" align="absbottom" />
				等聊天工具发送邀请链接&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;向对方邮箱发送邀请邮件
			</div>
		</div>
	</div>
<div class="bgstyle01_ft"></div>

	<input type="hidden" name="inviteType"/>
 </form>
<script type="text/javascript">
function submitForm(num) 
{ 
	
	if(num==0)
	{
		 document.inviteForm.inviteType.value=0;
	}
	else
	{
		document.inviteForm.inviteType.value=1;
	}
	document.inviteForm.action="#cowApp('member/inviteType')";
    document.inviteForm.submit();
}
</script>