#set($tradeOrders = $pageList)
#set($paginator = $pageList.getPaginator())
#set($member = $sessionUtil.getMemberSession($session))
<div class="bgstyle01_hd"></div>
<div class="bgstyle01_mid">
    <h1>我的订单</h1>
    <table class="order_style">
        <tr>
            <th>订单号</th>
            <th>用户名</th>
            <th>总价</th>
            <th>状态</th>
            <th>查看详情</th>
            <th>操作</th>
        </tr>
        #foreach($order in $tradeOrders)
        <tr>
            <td>$order.getId()</td>
            <td>$member.getLoginId()</td>
            <td>$order.getTotalPrice()</td>
            <td>$order.getStatus().getMessage()</td>
            <td><a href="#cowApp("member/orderDetail?orderId=${order.id}")" class="a_style01">查看详情</a></td>
            #if($stringUtil.isBlank($page)) #set($cancelUrl = "#cowApp('order/doCancelOrder')?orderId=$order.getId()") #else #set($cancelUrl = "#cowApp('order/doCancelOrder')?orderId=$order.getId()&page=${page}") #end
            <td>#if("$order.getStatus()" == "INITIALIZED" || "$order.getStatus()" == "NO_CHECK_ACCOUNT")
                    <a href="#cowApp("order/pay?orderId=${order.id}")" target="_blank" class="a_style01">支付</a> / 
                    <a href="$cancelUrl" class="a_style01">取消订单</a>
                #else不能操作#end</td>
        </tr>
        #end
    </table>
    #set($prePageUrl = "#cowApp('member/orderList')?page=$paginator.getPrePage()")
    #set($nextPageUrl = "#cowApp('member/orderList')?page=$paginator.getNextPage()")
    <table class="page_style">
        <tr>
            <td>
                    共<cite>$paginator.getItemsTotal()</cite>条记录，每页：<cite>10</cite>条，当前第<cite>$paginator.getPage()</cite>页，翻页<cite>$paginator.getPage()</cite>/<cite>$paginator.getPages()</cite>
                <a href="$prePageUrl" class="a_style01">上一页</a>
                <a href="$nextPageUrl" class="a_style01">下一页</a>
            </td>
        </tr>
    </table>
</div>
<div class="bgstyle01_ft"></div>
