<div id="register">
    <form action="#cowApp('member/doRegister')" method="post">
        <h1>新用户从这里注册</h1>
        <label class="exhk_info10">
            Email帐号：<input type="text" name="loginId" class="username" value="$!loginId"/>
            #if($actionErrors && !$actionErrors.isEmpty())
                <span class="red">#actionErrors()</span>
            #else
                <span #if($fieldErrors.get("loginId") && !$fieldErrors.get("loginId").isEmpty()) class="red" #end>请填写有效Email地址，用于登录与接收账户信息和订单情况等</span>
            #end                    
        </label>
        <label class="exhk_info11">
                密码：<input type="password" name="password" class="userpassword"/>
            <span #if($fieldErrors.get("password") && !$fieldErrors.get("password").isEmpty()) class="red" #end>密码由6-18位数字或字母组成</span>
        </label>
        <label>
            再输一次密码：<input type="password" name="repassword" class="userpassword2"/>
            <span #if($fieldErrors.get("repassword") && !$fieldErrors.get("repassword").isEmpty()) class="red" #end>两次密码输入保持一致性</span>
        </label>
        <label class="exhk_info01">
            验证码：<input type="text" name="checkCode" class="checkCode"/>
            <img id="codeImage" src="#cowApp('misc/codeImage')" onclick='changeCodeImage("#cowApp("misc/codeImage")")'/>
            <span #if($fieldErrors.get("checkCode") && !$fieldErrors.get("checkCode").isEmpty()) class="red" #end>请填写正确的验证码</span>
        </label>
        <button type="submit"></button>
    </form>
</div>
<script type="text/javascript">
function changeCodeImage(newCodeImage) {
    var date = new Date();
    document.getElementById("codeImage").src = newCodeImage + "?" + date.getTime();
}
</script>