<img src="#imageServer('exhk/success.jpg')" alt="支付成功" class="success_img"/>
<h1 class="success_title">
    恭喜您支付成功!
    <br/>
    <br/>
    <span class="success_tip">页面将跳转到首页......</span>
</h1>
<script type="text/javascript">
var index = "#cowApp('index')";
setTimeout('window.location=index',5000)
</script>
