.nav a:link, .nav a:visited {
    font-weight: bold;
    padding: 0 5px;
}
.btn_add {
    background: url(/images/exhk/m_btn_add.jpg) no-repeat;
    width: 50px;
    height: 23px;
    border: 0 none;
    cursor: pointer;
}
.m_delete {
    background: url(/images/exhk/m_delete.png) no-repeat;
    width: 20px;
    height: 20px;
    border: 0 none;
    cursor: pointer;
    behavior: url(/images/exhk/iepngfix.htc);
    margin-left: 5px;
}
.m_btn_do {
    background: url(/images/exhk/btn_do.jpg) no-repeat;
    width: 93px;
    height: 50px;
    border: 0 none;
    cursor: pointer;
}
.m_btn_reset {
    background: url(/images/exhk/btn_reset.jpg) no-repeat;
    width: 88px;
    height: 50px;
    border: 0 none;
    cursor: pointer;
}
.bg {
    background-color: #2E7990;
    min-height: 400px;
    height: auto !important;
    height: 400px;
    widows: 800px;
}
.note {
    color: #E27575;
    margin-left: 10px;
}
.small_color_img {
    margin: 0px 2px 0px 2px;
}
.m_color_p ul {
    list-style: none;
    margin: 5px 0px 0px 25px;
    padding: 0px;
    width: 690px;
}
.m_color_p li {
    float: left;
}
.m_delete02 {
    margin: 0 8px 4px 0;
}
.m_delete02 img {
    float: left;
    border: 1px solid #ff0000;
}
.m_delete02 input {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}
.m_color_name_title {
    margin-top: 15px;
}
