/*************布局**************************************/
body {
	margin:0px;
	padding:0px;
}
#m_wrap{
	width:1200px;
	margin:0 auto;
	padding:0px;
}
#m_hd{
	behavior: url(../images/exhk/iepngfix.htc);
	background:url(../images/exhk/m_logo.png) no-repeat;
	height:135px;
	margin-top:30px;
	margin-left:60px;
}
#m_mid{
	clear:both;
}
#m_menu_list{
	float:left;
	display:inline;
}
#m_menu_list_hd{
	background:url(../images/exhk/menu_list_hd.png) no-repeat;
	width:322px;
	height:25px;
	behavior: url(../images/exhk/iepngfix.htc);
}
#m_menu_list_mid{
	background:url(../images/exhk/menu_list_mid.png) repeat-y;
	behavior: url(../images/exhk/iepngfix.htc);
	width:322px;
	overflow:hidden;
}
#m_menu_list_ft{
	background:url(../images/exhk/menu_list_bt.png) no-repeat;
	behavior: url(../images/exhk/iepngfix.htc);
	width:322px;
	height:106px;
}
.m_menu_list_ul01 li{
	list-style:none;
	background:url(../images/exhk/menu_minus.gif) no-repeat scroll 40px 3px;
	margin:5px 0px 0px 0px;
	padding-left:55px;
}
.m_menu_list_ul02{
	margin:0px;
	padding:0px;
}
.m_menu_list_ul02 li{
	list-style:none;
	background:url(../images/exhk/menu_arrow.gif) no-repeat scroll 0px 3px;
	margin:5px 0px 0px 0px;
	padding-left:15px;
}
#m_ct,.m_color_name_title,.m_color_img_add{
	float:left;
}
#m_ct_title{
	background:url(../images/exhk/m_title.png) no-repeat;
	width:197px;
	height:72px;
	behavior: url(../images/exhk/iepngfix.htc);
	margin-top:3px;
}
#m_ct_title_images{
	background:url(../images/exhk/m_title_images.png) no-repeat;
	width:197px;
	height:72px;
	behavior: url(../images/exhk/iepngfix.htc);
	margin-top:3px;
}
.m_ct_mod_hd{
	background:url(../images/exhk/ct_hd.png) no-repeat;
	width:828px;
	height:26px;
	behavior: url(../images/exhk/iepngfix.htc);
}
.m_ct_mod_mid{
	background:url(../images/exhk/ct_mid.png) repeat-y;
	width:828px;
	behavior: url(images/exhk/iepngfix.htc);
	overflow:hidden;
}
.m_ct_mod_ft{
	background:url(../images/exhk/ct_ft.png) no-repeat;
	width:828px;
	height:26px;
	behavior: url(../images/exhk/iepngfix.htc);
}
.m_btn{
	text-align:center;
}
#m_ft{
	clear:both;
	text-align:center;
	padding-top:20px;
}
.m_color_name_title{
	margin-top:15px
}
.m_color_img_add{
	margin:8px 0px 0px 8px;
}
.m_color_p img{
	border:1px solid #ff0000;
}
.m_color_p ul{
	list-style:none;
	margin:0px 0px 0px 25px;
	padding:0px;
}
.m_color_p ul li{
	float:left;
}
.clear{
	clear:left;
}
.m_delete02{
	margin-right:8px;
	*margin:0px 5px 0px -13px;
}
/*************表单**************************************/
.m_ct_mod_mid table{
	margin-left:25px;
}
.text_01{
	border:1px solid #666666px;
}
.other{
	margin-left:5px;
}
.m_ct_mod_tb_td{
	text-align:right;
}
.btn_add{
	background:url(../images/exhk/m_btn_add.jpg) no-repeat;
	width:50px;
	height:23px;
	border:0 none;
	cursor:pointer;
}
.m_delete{
	background:url(../images/exhk/m_delete.png) no-repeat;
	width:20px;
	height:20px;
	border:0 none;
	cursor:pointer;
	behavior: url(../images/exhk/iepngfix.htc);
	margin-left:5px;
}
.style01{
	margin-bottom:15px;
}
.m_btn_do{
	background:url(../images/exhk/btn_do.jpg) no-repeat;
	width:93px;
	height:50px;
	border:0 none;
	cursor:pointer;
}
.m_btn_reset{
	background:url(../images/exhk/btn_reset.jpg) no-repeat;
	width:88px;
	height:50px;
	border:0 none;
	cursor:pointer;
}
/*************链接、颜色、字体**************************************/
body{
	font-family:Arial,Helvetica,sans-serif,SimSun;
	font-size:12px;
	color:#fff;
	background-color:#2E7990;
	background-image:url(../images/exhk/bg.jpg);
	background-repeat:repeat-x;
}
#m_hd img{
	border:0px;
	float:right;
	margin-right:200px;
}
.m_a_01{
	color:#fff;
	text-decoration:none;
}
.m_a_01:hover{
	color:#E27575;
	text-decoration:underline;
}
.m_h1_01{
	font-size:14px;
	margin:0px;
	padding:0px;
	color:#000;
}
.m_h1_02{
	font-size:14px;
	margin:0px 0px 10px 25px;
	padding:0px;
	color:#fff;
}
.m_h1_03{
	font-size:12px;
	margin:0px 0px 10px 25px;
	padding:0px;
	font-weight:normal;
}

.note{
	color:#E27575;
	margin-left:10px;
}
.small_color_img{
	margin:0px 2px 0px 2px;
}